<div class="documentTabContent">
  <div class="tab-content" id="v-pills-tabContent">
    <!-- Building Blocks Tab -->
    <div>
      <div class="tabContentInner">
        <h4 class="mb10 fs24 color-black ff-medium">
          Corporate Internet Banking
        </h4>
        <hr />
        <p class="fs14 color-gray ff-light mb30">
          Corporate Internet Banking APIs enable the customer/partner to access
          ICICI Bank's internet portal services on his platform, like payment,
          bank statement, balance fetch and can apply for instant overdraft.
        </p>
        <hr />
        <div class="row mb30 linksContainer">
          <div class="col-md-12">
            <table class="  table-hover " cellpadding="5">
              <tr style="color: #AE282E;">
                <th>API</th>
                <th>Description</th>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Registration</td>
                <td>
                  TThis api is used for registration of company account with
                  partner/aggregator.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Registration Status</td>
                <td>
                  This API is used to check status of registration of company
                  account with partner/aggregator.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Registration callback</td>
                <td>
                  This api is used to send automatic update on successful
                  registration of company account with partner/aggregator.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">De-Registration</td>
                <td>This api is used for deregistering the account.</td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">
                  OTP Creation for Transaction
                </td>
                <td>
                  This api is used to create OTP which is used for transaction.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Transaction</td>
                <td>
                  This api is used to make payment with-in bank and outside bank
                  (RTGS, NEFT,IMPS).
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Transaction Status</td>
                <td>This api is used for transaction inquiry.</td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Transaction Callback</td>
                <td>This api gives transaction status.</td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">
                  Validate Registered Account
                </td>
                <td>This api is used for validating linked accounts.</td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Fetch Register Mobile No</td>
                <td>
                  This api is used for fetching the mobile number linked to the
                  account.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Account Balance Fetch</td>
                <td>This api is used for checking account balance.</td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Account Bank statement</td>
                <td>This api is used to get bank statement.</td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">InstaOD offer check</td>
                <td>
                  This api is to check for instant unsecured business
                  loan(Overdraft) facility on the basis of account number.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Avail Insta OD Offer</td>
                <td>
                  This api provide URL to avail instant overdraft facility
                  offered by bank.
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-right">
            <hr />
            <a
              data-toggle="modal"
              data-target="#viewFlow"
              class="tryItFreeBtn"
              >{{ constants.VIEW_FLOW }}</a
            >
            <a
              href="assets/documents/cib.docx"
              class="tryItFreeBtn docBtn"
              download
              >{{ constants.PDF_DOCUMENT }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Building Block Tab -->
    <div class="modal" id="viewFlow">
      <div class="modal-dialog" style="max-width:1295px !important;">
        <div class="modal-content" style="">
          <div class="modal-header">
            <i data-dismiss="modal" class="material-icons close">close</i>
          </div>
          <div class="modal-body">
            <img
              src="assets/images/cib.png"
              style="max-width:100%; padding: 30px 9%;"
              id="img_id"
            />
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="copyrightSection">
    <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
  </div> -->
</div>
