<div class="tab-content">
  <div class="text-center mb50">
    <h3 class="fs32 color-blue ff-bold mb25">Contract</h3>
    <img class="w-xs-100p" src="assets/images/tnc-graphics.svg" alt="">
   </div>
   <div class="row mb25">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h5 class="fs16 ff-regular color-red mb15 text-left">Header Line 1 Demonstrating the First Paragraph</h5>
        <p class="mb50 ff-regular color-black30 fs14 text-left">
            Mr oh winding it enjoyed by between. The servants securing material goodness her. Saw principles themselves ten are possession. So endeavor to continue cheerful doubtful we to. Turned advice the set vanity why mutual. Reasonably if conviction on be unsatiable discretion apartments delightful. Are melancholy appearance stimulated occasional entreaties end. Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she. 
        </p>
        <h5 class="fs16 ff-regular color-red mb15 text-left">1 . 1</h5>
        <p class="mb50 ff-regular color-black30 fs14 text-left">
            Lose john poor same it case do year we. Full how way even the sigh. Extremely nor furniture fat questions now provision incommode preserved. Our side fail find like now. Discovered travelling for insensible partiality unpleasing impossible she. Sudden up my excuse to suffer ladies though or. Bachelor possible marianne directly confined relation as on he. 
        </p>
        <h5 class="fs16 ff-regular color-red mb15 text-left">1 . 2</h5>
        <p class="mb50 ff-regular color-black30 fs14 text-left">
            Offered say visited elderly and. Waited period are played family man formed. He ye body or made on pain part meet. You one delay nor begin our folly abode. By disposed replying mr me unpacked no. As moonlight of my resolving unwilling. 
        </p>
        <h5 class="fs16 ff-regular color-red mb15 text-left">1 . 3</h5>
        <p class="mb25 ff-regular color-black30 fs14 text-left">
            Perpetual sincerity out suspected necessary one but provision satisfied. Respect nothing use set waiting pursuit nay you looking. If on prevailed concluded ye abilities. Address say you new but minuter greater. Do denied agreed in innate. Can and middletons thoroughly themselves him. Tolerably sportsmen belonging in september no am immediate newspaper. Theirs expect dinner it pretty indeed having no of. Principle september she conveying did eat may extensive.
        </p>
      </div>
      <div class="col-md-1"></div>
   </div>
 
</div>