<div class="documentTabContent">
  <div class="tab-content" id="v-pills-tabContent">
   <!-- Building Blocks Tab -->
 <div >
  <div class="tabContentInner">
    <h4 class="mb10 fs24 color-black ff-medium">Pre approved offers</h4>
    <hr>
    <p class="fs14 color-gray ff-light mb30"> ICICI Bank prepares various product oriented offers for its existing customer in all the domains -Cards, Loans, Payments etc. These APIs allows you to directly access these offers and present it to your customers without any hassle. We provide you each step wise integration to present these offers to your customers and avail them without even visiting any branch, Relationship Manager or even our website.</p>
    <hr>
    <div class="row mb30 linksContainer">
      <div class="col-md-12">
          <table class="  table-hover " cellpadding="5">
              <tr style="color: #AE282E;">
                  <th>API</th>
                  <th>Description</th>
              </tr>
              <tr>
                  <td style="white-space: nowrap;">Get Offer On Account</td>
  
                  <td>This API is used get the offers of various ICICI Bank Products mapped to customer on the basis of account number</td>
              </tr>
              <tr>
                  <td style="white-space: nowrap;">Get Offer On Customer ID</td>
                  <td>This API is used for getting the offers various ICICI Bank Products mapped to customer on the basis of Customer ID.</td>
  
              </tr>
              <tr>
                  <td style="white-space: nowrap;">Get Offer On Mobile</td>
                  <td>This API is used for getting offers various ICICI Bank Products mapped to customer on the basis of mobile number.</td>
  
              </tr>
              <tr>
                  <td style="white-space: nowrap;">Pre Approved Offers</td>
                  <td>This API is used get the pre-approved mapped to customer on the basis of application number.</td>
  
              </tr>
              <tr>
                  <td style="white-space: nowrap;">Block Offer</td>
                  <td>This API is used to block the offers which are already availed by the customer.</td>
  
              </tr>
          </table>
      </div>
  </div>
 </div>
</div>
<!-- Building Block Tab -->
      
</div>
<!-- <div class="copyrightSection">
   <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
 </div> -->
</div>