<div class="documentTabContent">
   <div class="tab-content" id="v-pills-tabContent">
      <!--Accounts and Deposite-->
  <div >
     <div class="tabContentInner">
        <h4 class="mb10 fs24 color-black ff-medium">Accounts and Deposits</h4>
        <hr>
        <p class="fs14 color-gray ff-light ">A complete bouquet of APIs for authenticated customers to have access to information pertaining to their accounts and transactions. The offering provides robust and flexibility access to information for customers from everything ranging from - account balance, mini-statements, transaction status or raising service requests. This is the one-stop shop to provide you with a plethora of accessibility to one's banking portfolio. If you are a fintech or aggregator who wants to integrate with our services to provide world-class user experience for your users based on the authentication provided by customers, do check out our offerings. 
        </p>
        <p class="fs14 color-gray ff-light ">Leverage Accounts and Deposits related APIs to create innovative solutions in the space of accounts creation & management, to facilitate not just creating of various types of accounts but to provide capabilities to view and manage the status, transactions and lifecycle. As an aggregator this is a useful set of APIs to leverage on the bank’s account related services.</p>
        <ul>
              <li class="fs14 color-gray ff-light ">Savings Bank APIs APIs to facilitate creation, status checks and servicing of savings accounts.</li>
              <li class="fs14 color-gray ff-light ">APIs to facilitate creation (dealers, merchants and others) status checks and servicing of current accounts.</li>
              <li class="fs14 color-gray ff-light ">Fixed Deposit APIs - APIs to facilitate creation, status checks, servicing and closure of fixed accounts.</li>
              <li class="fs14 color-gray ff-light ">Recurring Deposit APIs - APIs to facilitate creation, status checks, servicing and closure of recurring accounts.</li>
              <li class="fs14 color-gray ff-light ">iWish APIs – Services to set  financial goals and track till achievement of targets. APIs to facilitate creation, status checks, servicing and closure of fixed accounts.</li>
        </ul>
        <hr>
        <div class="row mb30 linksContainer">
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Fixed Deposit</h4>
                    <h5>Accounts and Deposits</h5>
                    <p>A set of APIs to support Fixed Deposit lifecycle, enabling innovative solutions to support end to end customer journey, from initiating the customer request for FD, establishing customer relationship , enabling FD process for creation and management through statements & services.</p>
                 </div>
              </a>
           </div>
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Recurring Deposit</h4>
                    <h5>Accounts and Deposits</h5>
                    <p>A set of APIs to support Recurring Deposit lifecycle, enabling innovative solutions to support end to end customer journey, from initiating the customer request for RD, establishing customer relationship , enabling RD process for creation and management through statements & services.</p>
                 </div>
              </a>
           </div>
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Savings Account</h4>
                    <h5>Accounts and Deposits</h5>
                    <p>A set of APIs to support Savings Account lifecycle, enabling innovative solutions to support end to end customer journey, from initiating the customer request for Savings Account, establishing customer relationship , enabling Savings Account process for creation and management through statements & services.</p>
                 </div>
              </a>
           </div>
        </div>
        <div class="row mb30 linksContainer">
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Current Account</h4>
                    <h5>Accounts and Deposits</h5>
                    <p>A set of APIs to support Current Account lifecycle, enabling innovative solutions to support end to end customer journey, from initiating the customer request for Current Account, establishing customer relationship , enabling Current Account process for creation and management through statements & services.
                    </p>
                 </div>
              </a>
           </div>
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>iWish Account</h4>
                    <h5>Accounts and Deposits</h5>
                    <p>A set of APIs to support IWish product lifecycle, enabling innovative solutions to support end to end customer journey, from initiating the customer request for iWish, establishing customer relationship , enabling iWish process for creation of goals and Goals management through funding and services.</p>
                 </div>
              </a>
           </div>
        </div>
     </div>
  </div>
  <!-- Accounts and Deposite-->
       
</div>
</div>