<div class="documentTabContent">
  <div class="tab-content" id="v-pills-tabContent">
    <!-- Building Blocks Tab -->
    <div>
      <div class="tabContentInner">
        <h4 class="mb10 fs24 color-black ff-medium">Commercial Remittance</h4>
        <hr />
        <div class="row mb30 linksContainer">
          <div class="col-md-12">
            <table class="  table-hover " cellpadding="5">
              <tr style="color: #AE282E;">
                <th>API</th>
                <th>Description</th>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Transaction Order</td>
                <td>This service is used to initiate a transaction request.</td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Transaction Inquiry</td>
                <td>
                  partner use this service to know the actual status of
                  transaction order.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Account Inquiry</td>
                <td>
                  Partner initiate account inquiry request at ICICI to know the
                  ICICI benificiary name and account Number is matching or not.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Balance Inquiry</td>
                <td>
                  Partner initiate Account Balance service to know the actual
                  balance in the account of the partner
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-right">
            <hr />
            <a
              data-toggle="modal"
              data-target="#viewFlow"
              class="tryItFreeBtn"
              >{{ constants.VIEW_FLOW }}</a
            >
            <a
              href="assets/documents/remittance.docx"
              class="tryItFreeBtn docBtn"
              download
              >{{ constants.PDF_DOCUMENT }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Building Block Tab -->
    <div class="modal" id="viewFlow">
      <div class="modal-dialog" style="max-width:1295px !important;">
        <div class="modal-content" style="">
          <div class="modal-header">
            <i data-dismiss="modal" class="material-icons close">close</i>
          </div>
          <div class="modal-body">
            <img
              src="assets/images/remittance.png"
              style="max-width:100%; padding: 30px 9%;"
              id="img_id"
            />
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="copyrightSection">
     <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
   </div> -->
</div>
