<div class="documentTabContent">
  <div class="tab-content" id="v-pills-tabContent">
    <!-- Building Blocks Tab -->
    <div>
      <div class="tabContentInner">
        <h4 class="mb10 fs24 color-black ff-medium">Current Account</h4>
        <hr />
        <p class="fs14 color-gray ff-light mb30">
          A set of APIs to support Current Account lifecycle, enabling
          innovative solutions to support end to end customer journey, from
          initiating the customer request for Current Account, establishing
          customer relationship , enabling Current Account process for creation
          and management through statements & services.
        </p>
        <hr />
        <div class="row mb30 linksContainer">
          <div class="col-md-12">
            <table class="  table-hover " cellpadding="5">
              <tr style="color: #AE282E;">
                <th>API</th>
                <th>Description</th>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Create Current Account</td>
                <td>
                  This API will create the current account for individual
                  customer.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Mini Statement</td>
                <td>
                  This api is used for checking the mini statement of customer.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Get Account Numbers</td>
                <td>
                  This api is used to fetch the account numbers and userId
                  mapped with the provided mobile number.
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-right">
            <hr />
            <a
              data-toggle="modal"
              data-target="#viewFlow"
              class="tryItFreeBtn"
              >{{ constants.VIEW_FLOW }}</a
            >
            <a
              href="assets/documents/CurrentAccount.docx"
              class="tryItFreeBtn docBtn"
              download
              >{{ constants.PDF_DOCUMENT }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Building Block Tab -->
    <div class="modal" id="viewFlow">
      <div class="modal-dialog" style="max-width:1295px !important;">
        <div class="modal-content" style="">
          <div class="modal-header">
            <i data-dismiss="modal" class="material-icons close">close</i>
          </div>
          <div class="modal-body">
            <img
              src="assets/images/CurrentAccount.png"
              style="max-width:100%; padding: 30px 9%;"
              id="img_id"
            />
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="copyrightSection">
     <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
   </div> -->
</div>
