<div class="documentTabContent">
   <div class="tab-content" id="v-pills-tabContent">
        <!-- Payments -->
  <div >
  <div class="tabContentInner">
     <h4 class="mb10 fs24 color-black ff-medium">Payments</h4>
     <hr>
     <p class="fs14 color-gray ff-light mb30">Leverage the set of payments API in the domain of UPI payments, NEFT or IMPS and others, to create payment solution along with ICICI Bank. The payment APIs enable the complete payment lifecycle from registration to making transactions, checking status and de-registering.
     </p>
     <p class="fs14 color-gray ff-light mb30">Merchants and organizations that need to place bulk remittance transactions and track their status, we provide solutions to ease the pain. These robust APIs facilitate you to traverse across this process with ease whether it is- placing requests, facilitating payments, tracking requests or publishing consolidations. So, whether it’s an organization, institution or cooperative society, these API services facilitate easy creation of the needful for bulk remittances and their tracking.</p>
     <hr>
     <div class="row mb30 linksContainer">
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>UPI 1.0</h4>
                 <h5>Transaction category</h5>
                 <p>These robust APIs facilitate you to traverse across the transaction process with ease whether it is- placing Collect requests, facilitating payments, tracking requests or publishing consolidations. So whether it's an organization, institution or cooperative society, these API services facilitate easy Bank to Bank transfer in milliseconds.</p>
              </div>
           </a>
        </div>
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>UPI 2.0</h4>
                 <h5>Transaction category</h5>
                 <p>With the updated version of UPI, we provide you the added benefits of E-Mandate, better security levels along with it, these robust APIs facilitate you to traverse across this process with ease whether it is- placing Collect requests, facilitating payments, tracking requests or publishing consolidations. The bouquet of APIs allows you to cover the complete lifecycle.</p>
              </div>
           </a>
        </div>
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>Utility Payments</h4>
                 <h5>Transaction category</h5>
                 <p>BBPS is the centralized system facilitating all bill collection needs. The interoperable platform allows the customer of one bank to pay bills of a biller acquired by another bank. The Utility payments API suite allows you to connect directly with the BBPS network of India. The product not only enables collection of bills through online Payment Gateway based platforms but also through an extensive network of physical merchants and agents.
              </div>
           </a>
        </div>
     </div>
     <div class="row mb30 linksContainer">
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>EazyPay</h4>
                 <h5>Transaction category</h5>
                 <p>BBPS is the centralized system facilitating all bill collection needs. The interoperable platform allows the customer of one bank to pay bills of a biller acquired by another bank. The Utility payments API suite allows you to connect directly with the BBPS network of India. The product not only enables collection of bills through online Payment Gateway based platforms but also through an extensive network of physical merchants and agents.</p>
              </div>
           </a>
        </div>
     </div>
  </div>
  </div>
  <!-- Payments -->
       
</div>
</div>