<div id="fixed">
  <div class="menuBar">
    <ul class="nav nav-tabs" id="mainMenu">
      <li>
        <a><img src="assets/images/icici-svg-2.svg" alt=""/></a>
      </li>
      <li (click)="logout()">Logout</li>
    </ul>
  </div>
</div>

<div class="help-sec">
  <p>
    Drag and drop the menu items. Move them within the same level, or across
    different levels.
  </p>
</div>
<div class="main-div">
  <div class="left-div">
    <div class="mat-tree-div">
      <div class="menu-heading">Menu</div>
      <button
        type="button"
        id="save"
        class="btn-save"
        (click)="saveMenuItems()"
      >
        SAVE
      </button>
    </div>

    <mat-tree
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        matTreeNodePadding
        cdkDrag
        [cdkDragData]="node"
        (mouseenter)="dragHover(node)"
        (mouseleave)="dragHoverEnd()"
        (cdkDragStarted)="dragStart()"
        (cdkDragReleased)="dragEnd()"
      >
        <div class="mat-tree-items-sec">
          <div>
            <!-- <button mat-icon-button disabled></button> -->
            <!-- {{ node.filename }} : {{ node.type }} -->
            {{ node.filename }}
          </div>
          <div>
            <i class="material-icons edit-icons">
              <a (click)="editMenuItem()">edit</a>
            </i>
            <i class="material-icons close-icons">
              <a (click)="deleteMenuItem()">close</a>
            </i>
            <mat-slide-toggle
              [color]="color"
              (change)="toggle($event)"
              [checked]="useDefault"
              (change)="toggle($event)"
            ></mat-slide-toggle>
          </div>
        </div>
      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        cdkDrag
        [cdkDragData]="node"
        (mouseenter)="dragHover(node)"
        (mouseleave)="dragHoverEnd()"
        (cdkDragStarted)="dragStart()"
        (cdkDragReleased)="dragEnd()"
      >
        <div
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.filename"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </div>
        <!-- {{ node.filename }} : {{ node.type }} -->
        <div class="mat-tree-items-sec">
          <div>
            <!-- <button mat-icon-button disabled></button> -->

            {{ node.filename }} : {{ node.type }}
          </div>
          <div>
            <i class="material-icons edit-icons">
              <a (click)="editMenuItem()">edit</a>
            </i>
            <i class="material-icons close-icons">
              <a (click)="deleteMenuItem(node)">close</a>
            </i>
            <mat-slide-toggle [color]="color"></mat-slide-toggle>
          </div>
        </div>
      </mat-tree-node>
    </mat-tree>
  </div>
  <div class="right-div">
    <label class="menu-heading">Add/Edit Menu</label>
    <div>
      <input
        class="menu-input"
        type="text"
        name="menuitem"
        #menuitem
        placeholder="Menu Label"
      />
    </div>
    <div>
      <button type="button" id="add" class="btn-add" (click)="addMenuItems()">
        ADD
      </button>

      <button
        type="button"
        id="update"
        class="btn-update"
        (click)="updateMenuItems()"
      >
        UPDATE
      </button>
    </div>
  </div>
</div>
