<div class="documentTabContent">
    <div class="tab-content" id="v-pills-tabContent">
       <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">dashboard</div>
       <div class="tab-pane fade active show" id="v-pills-applications" role="tabpanel" aria-labelledby="v-pills-applications-tab">
         
          <div class="tabContentInner">
             <div class="row">
                <div class="col-md-12">
                    <div class="tab-pane" style="margin-left: -26px;margin-right: 125px;">
                        <div class="text-center mb50">
                           <h3 class="fs32 color-blue ff-bold mb25">Frequently Asked Questions</h3>
                           <img src="assets/images/faq-banner.svg" alt="">
                        </div>
                        <div id="accordion" class="faqmainSection">
                           <div class="card">
                              <div class="card-header" data-toggle="collapse" href="#faq1" aria-expanded="true">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                             How do I sign up for a developer account on ICICI Bank API Banking Portal?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq1" class="collapse show" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>On the developer portal, click the Sign up button at right top corner. The portal is a self-service tool that will guide you through account creation. After creating an account and accepting the ICICI Bank API Banking Portal and Services Agreement, you can start developing apps.
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq2"
                                 aria-expanded="false">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                             Who is this for?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq2" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>We are currently publishing this for new developers or existing partners with a new initiative. If you do not have an integration with ICICI Bank, use these APIs to get started.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq3">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                          Do I need to create a Developer Account to use your APIs?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq3" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>You can sign up for a new Developer account and create an API key on your Developer Console. For more information, see our Documentation page. If you are an Enterprise Developer interested in adding or updating an application, please contact your Account Manager before creating an API key. If you are not able to access your Developer Console, contact your Account Manager.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq4">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                             What is an API?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq4" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>API is the abbreviation for "Application Programming Interface". An API allows a third party application to use a common set of services via a defined interface.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq5">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       How do I obtain API keys?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq5" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>Simply create an account on the developer portal and then create one or more applications. Each application will get its own API key. Once your application is ready to go live you can request for an account plan upgrade via your Developer Console.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq6">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       What is OAuth?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq6" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>OAuth is an authentication protocol. For more information, please visit oauth.net.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq7">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       What is a REST API?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq7" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>REST (Representational State Transfer) is a simple stateless architecture i.e. each operation is entirely defined by the information sent to and received from the service. When a web service uses this architecture, it is known as a REST API.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq8">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       What are the Organisation Administrator’s responsibilities?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq8" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>The Organisation Administrator is your company’s representative for the ICICI Bank API Banking Portal. This person has overall responsibility for the ICICI Bank API Banking Portal account, and has access to all the services and functions available on the site. The Organisation Administrator’s main responsibilities include:</p>
                                    <ul>
                                       <li>Adding, deleting and managing your organisation’s developers</li>
                                       <li>Adding, deleting and managing your organisation’s applications</li>
                                       <li>Editing organisational details</li>
                                       <li>Requesting API keys and authentication</li>
                                       <li>Changing API Plans or Account Plans</li>
                                       <li>Checking API usage and analytics.</li>
                                    </ul>
                                    <p>The Organisation Administrator is ICICI's first point of contact regarding the ICICI Bank API Banking Portal.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq9">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       How do I add a user to my organization’s developer account?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq9" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>Only users with the enterprise administrator role can add users. You can manage your users and permissions at User Managament page.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq10">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       How do I handle any service errors that are returned?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq10" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>You will see details of various error responses within the API specifications. The Error description field in a response is meant to detail a message for the user. Refer to the error code information which details what the error code means and how this error code should be handled.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq11">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       What is an Account Plan?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq11" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>An Account Plan is a collection of one or more APIs. Every developer organization has an Account Plan. When a developer registers for a new organization account, the organization is automatically assigned to ‘Bronze Account Plan’. Using ‘Bronze Account Plan’ you can only consume ‘Test’ APIs. In order to consume ‘Production’ APIs, you have to upgrade your account plan to ‘Production Account Plan’.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq12">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       What is an API Plan?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq12" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>An API Plan is a predefined set of rules and quotes of how to consume an API. Currently, we provide ‘Sandbox’ and ‘Production’ API plans. ’Test’ APIs are only available via ‘Sandbox API Plan’ and they are restricted to some quotes which means you will have limited access. On the other hand ‘Production’ APIs available via ‘Production API Plan’ can be consumed with higher quotes and they process live data. As mentioned under the title ‘What is an API Plan?’ you have to upgrade your account plan to ‘Production Account Plan’ in order to consume ‘Production’ APIs.</p>
                                 </div>
                              </div>
                           </div>
                           <div data-scroll="out" class="card">
                              <div class="card-header collapsed" data-toggle="collapse" href="#faq13">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       Is there a limit to the number of call APIs?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq13" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>Yes, sandbox APIs are currently restricted to a limited number of calls, according to API Plan’s context.</p>
                                 </div>
                              </div>
                           </div>
                           <div data-scroll="out" class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq14">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       What responsibilities do Developers have?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq14" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>Developers have to be invited by their Organisation Administrator to join the portal. Once joined, they can access most of the same functions as the Organisation Administrator. There are a few things developers won’t be able to do, and this includes inviting other developers to join, changing API or Account plans, or editing organisational details.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq15">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       What are your Account Plans?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq15" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>Your organisation has a choice of two Account Plans:</p>
                                    <ul>
                                       <li>Our Standard Plan is a free service that gives you up to 10,000 hits per day over your applications and standard technical support through our portal.</li>
                                       <li>Our Premium Plan is a chargeable service that gives you a higher number of hits per day or hour - with enhanced, personalised technical support as well as the standard support available through our portal.</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq16">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       How do I change Account Plans?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq16" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>If you’re an Organisation Administrator, you can change your Account Plan by going to Dashboard/Applications. Simply select your preferred plan under ‘Account Plan Change’ in the first table. We’ll automatically be notified of your request and be in touch with any further requirements we may need from you.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq17">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       How do I move from Sandbox to Production?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq17" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>If you’re an Organisation Administrator, you can request to move from Sandbox to Production for each API within a specific application using this portal:</p>
                                    <ul>
                                       <li>Go to Dashboard/Applications.</li>
                                       <li>Click on the cog icon next to your application and select ‘Edit’.</li>
                                       <li>Click on the ‘API Management’ tab.</li>
                                       <li>Under ‘API Plan Change’ select ‘Production’.</li>
                                    </ul>
                                    <p>We’ll then be in touch with any further requirements we may need from you.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq18">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       If I delete an application, can I retrieve it?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq18" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>No, so please make sure you’re certain you don’t want the application before deleting it.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq19">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       Can I put my application on hold, but keep my account open?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq19" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>Yes. Go to Dashboard/Applications, click on the cog to the right of the application, then ‘Disable’.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-header collapsed" data-toggle="collapse"
                                 href="#faq20">
                                 <div class="row">
                                    <div class="col-md-11 col-11">
                                       <a class="card-link">
                                       Does my API key expire?
                                       </a>
                                    </div>
                                    <div class="col-md-1 text-right">
                                       <i class="material-icons accordionDropdownIcon">expand_less</i>
                                    </div>
                                 </div>
                              </div>
                              <div id="faq20" class="collapse" data-parent="#accordion">
                                 <div class="card-body">
                                    <p>No. But your Application may be suspended or deleted which will suspend or delete the associated API key.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  
                </div>
           
             </div>
           
          </div>
       </div>

      
      </div>

 </div>