<div class="documentTabContent">
  <div class="tab-content" id="v-pills-tabContent">
    <!-- Building Blocks Tab -->
    <div>
      <div class="tabContentInner">
        <h4 class="mb10 fs24 color-black ff-medium">Paylater</h4>
        <hr />
        <p class="fs14 color-gray ff-light mb30">
          PayLater is a digital credit product, similar to a Credit Card. With
          it you can make your purchases today and make payments within 45 days
          of the transaction date and no interest is charged. The API
          integration allows you to facilitate your customers with the PayLater
          product on your platform.
        </p>
        <hr />
        <div class="row mb30 linksContainer">
          <div class="col-md-12">
            <table class="  table-hover " cellpadding="5">
              <tr style="color: #AE282E;">
                <th>API</th>
                <th>Description</th>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Account Creation</td>

                <td>
                  This API will be used to check the status of pay-later account
                  by mobile number or transaction id.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Paylater Balance Inquiry</td>
                <td>
                  This API will be used for balance inquiry in ICICI PayLater
                  A/c.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Bill Inquiry</td>
                <td>
                  This API will be used for bill inquiry in ICICI PayLater A/c.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">Pay Dues</td>
                <td>
                  This API will be used to make Pay Dues of ICICI PayLater A/c.
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap;">OD A/c Discovery</td>
                <td>
                  This API will be used for OD account discovery basis on the
                  mobile number.
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-12 text-right">
            <hr />
            <a
              data-toggle="modal"
              data-target="#viewFlow"
              class="tryItFreeBtn"
              >{{ constants.VIEW_FLOW }}</a
            >
            <a
              href="assets/documents/payLater.docx"
              class="tryItFreeBtn docBtn"
              download
              >{{ constants.PDF_DOCUMENT }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Building Block Tab -->
    <div class="modal" id="viewFlow">
      <div class="modal-dialog" style="max-width:1295px !important;">
        <div class="modal-content" style="">
          <div class="modal-header">
            <i data-dismiss="modal" class="material-icons close">close</i>
          </div>
          <div class="modal-body">
            <img
              src="assets/images/payLater.png"
              style="max-width:100%; padding: 30px 9%;"
              id="img_id"
            />
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="copyrightSection">
   <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
 </div> -->
</div>
