<div class="wrapper col-md-12">
  <toaster-container></toaster-container>
  <ng4-loading-spinner> </ng4-loading-spinner>
  <div class="container col-md-12">
    <div class="col-md-6 col-xs-12 col-sm-12 login-col">
      <div class="login-logo">
        <a
          ><img
            src="assets/images/icici-svg-2.svg"
            class="user-image"
            alt="User Image"
        /></a>
      </div>
      <form class="form">
        <div class="group">
          <label for="email">Username:</label>
          <input type="text" name="user" #username />
          <div
            class="text-danger form-error ng-star-inserted"
            *ngIf="isusername"
          >
            Please Enter UserNames.
          </div>
        </div>
        <div class="group">
          <label for="password">Password:</label>
          <input id="password" type="password" name="password" #password />
          <div class="text-danger form-error ng-star-inserted" *ngIf="issetpwd">
            Please Enter Password.
          </div>
        </div>
        <!-- <a href="" class="forget-link">Forgot password?</a> -->
        <div class="clearfix"></div>
        <br />
        <input
          type="submit"
          value="Login"
          id="submit"
          class="btn-submit"
          (click)="adminLogin(username.value, password.value)"
        />
        <div
          class="text-danger form-error ng-star-inserted"
          *ngIf="is_res_error != ''"
        >
          {{ is_res_error }}.
        </div>
      </form>
    </div>
  </div>
</div>
