
<div id="fixed">
  <!----------------------------------------------------------------TOP Nagvigation-------------------------------------------------------------->
           <div class="menuBar docsMenuBar">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="['/admin/login']" aria-controls="pills-home" aria-selected="true"><img src="assets/images/icici-svg-2.svg" alt=""></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" id="FAQs-tab" data-toggle="pill" href="javascript:;"   role="tab" aria-controls="FAQs" aria-selected="false" style="font-size: 13px;line-height: 31px;"></a>
                 </li>
                  <li class="nav-item">
                    <a class="nav-link" id="FAQs-tab" data-toggle="pill" href="javascript:;"   role="tab" aria-controls="FAQs" aria-selected="false" style="font-size: 13px;"></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill"  href="javascript:;" role="tab" aria-controls="pills-profile" aria-selected="false"></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active"  id="pills-profile-tab" data-toggle="pill"   href="javascript:;" role="tab" aria-controls="pills-profile" aria-selected="false"></a>
                 </li>
             
                 <li class="nav-item dropdown position_relative">
                     <a class="nav-link dropdown-toggle lh56"  id="navbarMobiles" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>&nbsp;{{user_name}}
                     </a>
                  <div class="dropdown-content" aria-labelledby="navbarMobiles">
                     <!-- <a style="line-height: 21px;"  class="nav-link dropdown-item cursor" >Profile</a> -->
                     <a style="line-height: 21px; cursor: pointer;"  class="nav-link dropdown-item "  class="nav-link dropdown-item" (click)="logout()">Logout</a>  
                  </div>
               </li>
              </ul>
           </div>
  <!----------------------------------------------------------------TOP Nagvigation-------------------------------------------------------------->
         </div>
         