<!-- <div class="modal-header loginsuccess-modal-border">
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRefClose()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<!-- <button
  type="button"
  class="close"
  aria-label="Close"
  (click)="modalRefClose()"
  style="color:blue;float:right;"
>
  <span aria-hidden="true">&times;</span>
</button>
<img
  src="assets/images/appathon-banner.png"
  width="100%"
  style="padding: 0;"
  (click)="modalRefImgClick()"
/> -->
<div class="modal-body" style="padding: 0;">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modalRefClose()"
    style="color:blue;margin-left:10px"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row mb10" style="padding: 0;">
    <div class="col-md-12" style="padding: 0;">
      <img
        src="assets/images/ICICI-APPATHON-2020_Digital-1.png"
        width="100%"
        height="auto"
        style="padding: 0;"
        (click)="modalRefImgClick()"
      />
    </div>
  </div>
</div>
