<div class="documentTabContent">
   <div class="tab-content" id="v-pills-tabContent">
  <!--Commercial Banking-->
  <div >
  <div class="tabContentInner">
     <h4 class="mb10 fs24 color-black ff-medium">Trade Service</h4>
     <hr>
     <p class="fs14 color-gray ff-light mb30">For businesses of any scale - speed, visibility and reliability are key to succeeding in the marketplace in the commercial trade domain. With multiple parties involved in this businesses domain need visibility on the nature and status of each transaction. Be it letter of credit, bank guarantees or trade remittances, the portal provides services which based on proper authentication will provide status and details of such trade transactions which can then be seamlessly integrated with internal systems to create robust systems.
     </p>
     <hr>
     <div class="row mb30 linksContainer">
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>Remittance</h4>
                 <h5>Commercial category</h5>
                 <p>Enhance your business with APIs of remittance which will help you manage foreign currency and exchange of funds, at the best rates, faster and with secure banking transactions. </p>
              </div>
           </a>
        </div>
     </div>
  </div>
</div>
<!--Commercial Banking-->
       
</div>
</div>