<!-- <toaster-container></toaster-container>
<ng4-loading-spinner> </ng4-loading-spinner> -->
<div id="fixed">
  <div class="menuBar">
    <ul class="nav nav-tabs" id="mainMenu">
      <li class="active">
        <a [routerLink]="['/index']" class="navbar-brand"
          ><img src="assets/images/icici-svg-2.svg" alt=""
        /></a>
      </li>
      <!-- appthon signup button -->
      <li>
        <a data-toggle="tab" (click)="openModalAppathonSignup(appathonSignup)"
          >Appathon Signup</a
        >
      </li>
      <!-- appthon signup button -->
      <li><a data-toggle="tab" [routerLink]="['/index/faq']">FAQ</a></li>
      <li><a (click)="Documentation(signin)">Documentation</a></li>
      <li
        class="nav-item dropdown position_relative"
        *ngIf="!showbtn"
        style="margin: 0 12px 0 0;"
      >
        <a
          style="margin:-30px 0px 0px 0px;"
          class="nav-link dropdown-toggle lh56"
          id="navbarMobiles"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Account
        </a>
        <div
          class="dropdown-content"
          aria-labelledby="navbarMobiles"
          style="margin-left: -40px"
        >
          <a
            [routerLink]="['/dashboard']"
            class="nav-link dropdown-item"
            id="pills-account-dashboard-tab"
            data-toggle="pill"
            href="#pills-account"
            role="tab"
            aria-controls="pills-account-dashboard"
            aria-selected="true"
            >Dashboard</a
          >
          <a
            [routerLink]="['/application']"
            class="nav-link dropdown-item"
            id="pills-account-applications-tab"
            data-toggle="pill"
            href="#pills-account"
            role="tab"
            aria-controls="pills-account-applications"
            aria-selected="true"
            >Applications
          </a>
          <a
            [routerLink]="['/onboardingrequests']"
            class="nav-link dropdown-item"
            id="pills-account-analytics-tab"
            data-toggle="pill"
            href="#pills-account"
            role="tab"
            aria-controls="pills-account-analytics"
            aria-selected="true"
            >Onboarding<br />Requests</a
          >
        </div>
      </li>
      <li
        class="nav-item dropdown position_relative"
        *ngIf="!showbtn"
        style="margin: 0 25px 0 0;"
      >
        <a
          style="margin:-30px 0px 0px 0px;"
          class="nav-link dropdown-toggle lh56"
          id="navbarMobiles"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-user-circle-o"></i>&nbsp;{{ user_name }}
        </a>
        <div
          class="dropdown-content"
          aria-labelledby="navbarMobiles"
          style="margin-left: -40px"
        >
          <a [routerLink]="['/userprofile']" class="nav-link dropdown-item"
            >Profile</a
          >
          <a
            (click)="scroll_view('#UAT_onboard')"
            class="nav-link dropdown-item"
            >UAT Onboarding</a
          >
          <a
            class="nav-link dropdown-item"
            class="nav-link dropdown-item"
            *ngIf="!showbtn"
            (click)="logout()"
            >Logout</a
          >
          <!-- <a [routerLink]="['/analytics']" class="nav-link dropdown-item" id="pills-account-analytics-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account-analytics" aria-selected="true">Analytics</a> -->
        </div>
      </li>

      <!-- <li><a *ngIf="!showbtn" (click)="logout()">Logout</a></li> -->
      <!-- <li><a data-toggle="tab" [routerLink]="['/index/merchantOnboarding']">Onboarding Request</a></li> -->
      <li>
        <a class="tryItFreeBtn" *ngIf="showbtn" (click)="openModal2(signup)"
          >Sign Up</a
        >
      </li>
      <li>
        <a class="signInBtn" *ngIf="showbtn" (click)="openModal(signin)"
          >Sign In</a
        >
      </li>
    </ul>
    <div class="row mobileMenu m0">
      <div class="col-11">
        <div class="row">
          <div class="col-5">
            <a [routerLink]="['/index']" class="navbar-brand"
              ><img src="assets/images/icici-svg-2.svg" alt=""
            /></a>
          </div>
          <div class="col-7 text-right pt10">
            <a
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#signUp"
              (click)="openModal2(signup)"
              class="tryItFreeBtn"
              >Sign Up</a
            >
            <a
              data-dismiss="modal"
              class="signInBtn"
              data-toggle="modal"
              (click)="openModal(signin)"
              data-target="#signIn"
              >Sign In</a
            >
          </div>
        </div>
      </div>
      <div class="col-1 text-right pl0">
        <a data-toggle="modal" data-target="#mobileMenu" class="mobileHamburger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </div>
  </div>
</div>
<!-- Signin Modal -->
<ng-template #signin>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Please Login</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb30">
      <div class="col-md-12 mb-xs-10">
        <div><label for="user">Username</label></div>
        <input name="user" class="input-login" #username />
        <div class="text-danger form-error ng-star-inserted" *ngIf="isusername">
          Please Enter UserNames.
        </div>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-12">
        <div><label for="password" type="password">Password</label></div>
        <input name="password" type="password" class="input-login" #password />
        <div class="text-danger form-error ng-star-inserted" *ngIf="issetpwd">
          Please Enter Password.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="forgotPassword cursor" (click)="Modalforgotpassw(forgotpassw)"
          >Forgot Password?</a
        >
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row w100p m0">
      <div class="col-12 plr0 mb30">
        <div>
          <button
            type="submit"
            class="signInBtn w100p"
            data-dismiss="modal"
            data-toggle="modal"
            data-target="#signUp"
            (click)="Login(username.value, password.value, loginsuccess)"
          >
            Login
          </button>
          <div
            class="text-danger form-error ng-star-inserted"
            *ngIf="is_res_error != ''"
          >
            {{ is_res_error }}.
          </div>
        </div>
      </div>
      <div class="col-12 plr0">
        <p>
          Do not have an account? Please
          <span
            ><a class="signIn" (click)="openModal2(signup)">Register</a></span
          >
        </p>
      </div>
    </div>
  </div>
</ng-template>
<!-- End Modal -->
<!-- Modal for Forgot password -->
<ng-template #forgotpassw>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Forgot Password</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef3.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb30">
      <div class="col-md-12 mb-xs-10">
        <div><label for="user">Username/Email</label></div>
        <input name="user" class="input-login" #username />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row w100p m0">
      <div class="col-12 plr0 mb30">
        <div>
          <button
            type="submit"
            class="signInBtn w100p"
            (click)="forgot(username.value)"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- End Modal -->
<!-- Modal for Signup -->
<!-- Modal for Signup -->
<ng-template #signup>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Lets get you Onboard</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef2.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs nav-tabs1" role="tablist">
      <li role="presentation" class="active">
        <a
          [ngStyle]="{ color: shfrmSFFirst ? '#f06321' : '#919191' }"
          href="javascript:;"
          (click)="signup_link(1)"
          >Basic Details <i class="fa fa-angle-right"></i
        ></a>
      </li>
      <li role="presentation">
        <a
          [ngStyle]="{ color: shfrmSFSecond ? '#f06321' : ' #919191' }"
          href="javascript:;"
          (click)="signup_link(2)"
          >Mobile Number <i class="fa fa-angle-right"></i
        ></a>
      </li>
      <li role="presentation">
        <a
          [ngStyle]="{ color: shfrmSFThird ? '#f06321' : '#919191' }"
          href="javascript:;"
          (click)="signup_link(3)"
        >
          Credentials
        </a>
      </li>
      <!-- <li role="presentation" ><a href="#Agreement" aria-controls="Agreement" role="tab" data-toggle="tab">Agreement</a></li> -->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tab-content1">
      <form [formGroup]="signupForm" [hidden]="!shfrmSFFirst">
        <input
          type="hidden"
          name="otp_verified"
          formControlName="otp_verified"
          class="input-login"
          #otp_verified
        />
        <div class="tab-pane">
          <div class="row mb20">
            <div class="col-md-6 mb-xs-10">
              <div><label for="company">Full Name</label></div>
              <input
                name="name"
                formControlName="firstname"
                class="input-login"
                #name
              />
              <div
                *ngIf="firstname.invalid && (firstname.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                First Name is required.
              </div>
            </div>
            <div class="col-md-6">
              <div><label for="company">Email</label></div>
              <!-- <input name="email" formControlName="email" class="input-login" #Email (input)="OnCheckEmail(Email.value)"> -->
              <input
                name="email"
                formControlName="email"
                class="input-login"
                #Email
                (change)="OnCheckEmail(Email.value)"
              />
              <div
                *ngIf="email.invalid && (email.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Email is required.
              </div>
              <div
                *ngIf="isemail_reg_check != ''"
                class="text-danger form-error"
              >
                {{ isemail_reg_check }}
              </div>
            </div>
          </div>
          <div class="row mb20">
            <div class="col-md-12 mb-xs-30">
              <div><label for="password">Company Name</label></div>
              <input
                name="company"
                formControlName="companyName"
                class="input-login"
                #company
              />
              <div
                *ngIf="
                  companyName.invalid && (companyName.dirty || isSubmitted)
                "
                class="text-danger form-error"
              >
                Company Name is required.
              </div>
            </div>
          </div>
          <div class="row mb20">
            <div class="col-md-12 mb-xs-30">
              <div><label for="password">Domain Name</label></div>
              <!-- <select class="form-control input-login select-drop" formControlName="domainNm">
 <option value="">Select Domain</option>
 <option value="Accounts and Deposits">Accounts and Deposits</option>
 <option value="Loans and Cards">Loans and Cards</option>
 <option value="Building Blocks">Building Blocks</option>
 <option value="Corporate">Corporate</option>
 <option value="Payments">Payments</option>
 <option value="Commercial">Commercial </option>
 </select> -->
              <select
                class="form-control select-drop input-login"
                formControlName="domainNm"
              >
                <option value="">Select Domain</option>
                <option *ngFor="let d of domainLst" [value]="d">{{ d }}</option>
              </select>
              <div
                *ngIf="domainNm.invalid && (domainNm.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Domain Name is required.
              </div>
            </div>
          </div>
          <div class="row mb20">
            <div class="col-md-12 mb-xs-30">
              <div><label for="password">City</label></div>
              <input name="City" class="input-login" formControlName="CITY" />
              <div
                *ngIf="CITY.invalid && (CITY.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                City is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-xs-30">
              <div>
                <label for="password">ICICI Bank RM Employee ID</label>
                <a
                  href="#"
                  data-toggle="tooltip"
                  title="Enter zero in numeric(0) as default value"
                  ><img
                    src="assets/images/information.png"
                    alt="loader"
                    style="margin-left:2%;cursor: pointer;"
                /></a>
              </div>
              <input
                name="RM"
                class="input-login"
                formControlName="RM"
                pattern="[0-9]*"
                (ngModelChange)="employeeIdChanged(RM.value)"
              />
              <div
                *ngIf="RM.invalid && (RM.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                RM Employee ID is required (numeric).
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <br />
          <ul class="nav nav-tabs nav-tabs1" role="tablist">
            <li>
              <button
                type="button"
                (click)="save1()"
                [disabled]="!signupForm.valid || !isemail_check"
                [ngClass]="
                  signupForm.valid || !isemail_check ? 'btn-blue' : 'btn-white'
                "
                class="btn"
                class="signInBtn verifyBtn"
              >
                Next
              </button>
            </li>
          </ul>
        </div>
      </form>
      <form [formGroup]="signupForm2" [hidden]="!shfrmSFSecond">
        <div class="tab-pane">
          <div class="row mb20">
            <div class="col-md-8 mb-xs-30">
              <div>
                <label for="mobile">Please enter the Phone Number</label>
              </div>
              <input
                id="mobileNumber"
                formControlName="mobile_no"
                Type="number"
                class="input-login"
                name="mobile"
                required
                #Mobile
                [readonly]="signupForm.value.otp_verified == 1"
              />
              <div
                *ngIf="mobile_no.invalid && (mobile_no.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Mobile Number is required.
              </div>
              <div
                *ngIf="ismobile_reg_check != ''"
                class="text-danger form-error"
              >
                {{ ismobile_reg_check }}
              </div>
              <div
                *ngIf="
                  signupForm.value.otp_send == '1' &&
                  signupForm.value.otp_verified == 0
                "
                class="text-success"
              >
                OTP sent on your mobile no. Click
                <a (click)="SendOtp(Mobile.value)" href="javasript:;">here</a>
                to resend
              </div>
            </div>
            <div class="col-md-4 mt4">
              <button
                [disabled]="signupForm.value.otp_verified == 1"
                type="button"
                class="tryItFreeBtn sendOTPBtn mt25"
                (click)="SendOtp(Mobile.value)"
              >
                Send OTP
              </button>
              <button
                type="button"
                class="tryItFreeBtn changeMobileNumber mt25"
                (click)="SendOtp(Mobile.value)"
              >
                change
              </button>
            </div>
          </div>
          <!-- <ng-template #elseBlock> -->
          <div class="row mb20" *ngIf="showOtp">
            <div class="col-md-9 mb-xs-30">
              <div>
                <label for="otp"
                  >Enter the OTP Received on your Phone Number</label
                >
              </div>
              <input
                [readonly]="signupForm.value.otp_verified == 1"
                name="otp"
                formControlName="otp_code"
                class="input-login"
                #OTP
              />
              <div
                *ngIf="otp_code.invalid && (otp_code.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                OTP is required.
              </div>
              <div
                *ngIf="ismobile_reg_check != ''"
                class="text-danger form-error"
              >
                {{ isotp_reg_check }}
              </div>
            </div>
          </div>
          <!-- </ng-template> -->
          <div class="clearfix"></div>
          <br />
          <ul class="nav nav-tabs nav-tabs1" role="tablist">
            <li>
              <button
                class="btn"
                (click)="save2()"
                [disabled]="!signupForm2.valid"
                [ngClass]="signupForm2.valid ? 'btn-blue' : 'btn-white'"
                class="signInBtn verifyBtn"
              >
                Verify
              </button>
            </li>
          </ul>
        </div>
      </form>
      <form [formGroup]="signupForm3" [hidden]="!shfrmSFThird">
        <div class="tab-pane">
          <div class="row mb20">
            <div class="col-md-12">
              <div><label for="username">Username</label></div>
              <input
                formControlName="username"
                class="input-login"
                #username
                (change)="OnCheckUsername(username.value)"
                autocomplete="new-password"
              />
              <div
                *ngIf="username.invalid && (username.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Username is required.
              </div>
            </div>
          </div>
          <div class="horizontalBorder mb20"></div>
          <div class="row">
            <div class="col-md-6">
              <div><label for="createpassword">Create Password</label></div>
              <input
                type="password"
                formControlName="password"
                class="input-login"
                #CreatePassword
              />
              <div
                *ngIf="password.invalid && (password.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Password is required.
              </div>
            </div>
            <div class="col-md-6">
              <div><label for="confirmpassword">Confirm Password</label></div>
              <input
                type="password"
                formControlName="confirmPassword"
                class="input-login"
                #ConfirmPassword
              />
              <div
                *ngIf="
                  confirmPassword.invalid &&
                  (confirmPassword.dirty || isSubmitted)
                "
                class="text-danger form-error"
              >
                Password does not match.
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row" style="margin-top: 12px;">
            <div class="col-md-12">
              <label class="checkboxContainer">
                <input
                  type="checkbox"
                  formControlName="term"
                  #term
                  required
                /><span class="checkmark"></span>
                <a [routerLink]="['/index/termsandcondition']" target="_blank"
                  >ACCEPT ALL TERMS & CONDITIONS</a
                >
                <div
                  *ngIf="term.invalid && (term.invalid || isSubmitted)"
                  class="text-danger form-error"
                >
                  I ACCEPT ALL TERMS & CONDITIONS is required.
                </div>
              </label>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="clearfix"></div>
          <br />
          <ul class="nav nav-tabs nav-tabs1" role="tablist">
            <li>
              <button
                (click)="sign_up()"
                [disabled]="!signupForm3.valid"
                [ngClass]="signupForm3.valid ? 'btn-blue' : 'btn-white'"
                class="btn"
                class="signInBtn verifyBtn"
              >
                Submit
              </button>
            </li>
          </ul>
        </div>
      </form>
      <!-- <div role="tabpanel" class="tab-pane" id="Agreement">
 <div class="disclaimer">
 <form [formGroup]="signupForm4">
 <h4>Disclaimer</h4>
 <p>
 Developer portal (DP) is a module of Application Programming Interface
 Management (APIM) suite- a product developed by CA (India) technologies
 Private
 Limited and license purchased for consumption of DP by the Bank. The DP is
 an
 application having a front end access to map/un-map the API’s of the Bank.
 These
 API’s are hosted through the Developer Portal and is proposed to be made
 accessible on cloud for various third party vendors/ developers to explore
 for
 building innovative ideas.
 </p>
 <p>
 The terms and conditions, includes Definition, Program Objective,
 Eligibility
 Criteria, Solution Guidelines, General Terms, Proposal review process,
 Proposal
 acceptance/rejection, Intellectual Property Rights, Publicity, Disclaimers,
 Liability and Indemnity.
 </p>
 <p>
 Developer portal (DP) is a module of Application Programming Interface
 Management (APIM) suite- a product developed by CA (India) technologies
 Private
 Limited and license purchased for consumption of DP by the Bank. The DP is
 an
 application having a front end access to map/un-map the API’s of the Bank.
 These
 API’s are hosted through the Developer Portal and is proposed to be made
 accessible on cloud for various third party vendors/ developers to explore
 for
 building innovative ideas.
 </p>
 <p>
 The terms and conditions, includes Definition, Program Objective,
 Eligibility
 Criteria, Solution Guidelines, General Terms, Proposal review process,
 Proposal
 acceptance/rejection, Intellectual Property Rights, Publicity, Disclaimers,
 Liability and Indemnity.
 </p>
 <label class="checkboxContainer">
 <input type="checkbox" formControlName="termsandcondition"><span class="checkmark"></span> I agree
 </label>
 <div class="clearfix"></div>
 <br>
 <ul class="nav nav-tabs nav-tabs1" role="tablist">
 <li ><button class ='btn' (click)="sign_up()" [disabled]="!signupForm4.valid" [ngClass]="signupForm4.valid ? 'btn-blue':'btn-white'" aria-controls="Credentials" role="tab" data-toggle="tab" class="signInBtn verifyBtn">Submit </button></li>
 </ul>
 </form>
 </div>
 </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <div class="row w100p m0">
      <div class="col-12 pl0">
        <p>
          Already have an account? Please
          <span><a class="signIn" (click)="openModal(signin)">Login</a></span>
        </p>
      </div>
      <div class="col-5 pr0">
        <div class="text-right"></div>
      </div>
    </div>
  </div>
</ng-template>
<!--Login suceess modal-->

<!-- <ng-template #appathonSignUp>
 <div class="modal-header">
 <h3 class="modal-title pull-left">Lets get you Onboard</h3>
 <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
 <span aria-hidden="true">&times;</span>
 </button>
 </div>
 <div class="modal-body"> 
 <ul class="nav nav-tabs nav-tabs1" role="tablist"> 
 <li role="presentation" class="active" >
 <a [ngStyle]="{'color': shfrmSFFirst ? '#f06321' : '#919191'}" href="javascript:;" (click)="signup_link(1)">Team Details <i
 class="fa fa-angle-right"></i></a>
 </li> 
 <li role="presentation" >
 <a [ngStyle]="{'color': shfrmSFSecond ? '#f06321' :' #919191'}" href="javascript:;" (click)="signup_link(2)">Mobile Number <i
 class="fa fa-angle-right"></i></a>
 </li>
 <li role="presentation" >
 <a [ngStyle]="{'color': shfrmSFThird ? '#f06321' : '#919191'}" href="javascript:;" (click)="signup_link(3)"> Credentials 
 </a>
 </li>
 </ul>
 <div class="tab-content tab-content1">
 <form [formGroup]="appSignupForm" [hidden]="!shappathonfrmSFFirst">
 <input type="hidden" name="otp_verified" formControlName="otp_verified" class="input-login" #otp_verified>
 <div class="tab-pane"> 
 <div class="row mb20">
 <div class="col-md-12 mb-xs-30">
 <div><label for="team">Team Name</label></div>
 <input name="team" formControlName="teamName" class="input-login" #team>
 <div *ngIf="teamName.invalid && (teamName.dirty || isSubmitted)" class="text-danger form-error">
 Team Name is required.
 </div>
 </div>
 </div> 
 <div class="row mb20">
 <div class="col-md-12 mb-xs-30"> <label>Team Captain</label></div>
 
 <div class="col-md-6 mb-xs-10">
 <div><label for="capName"> Name</label></div>
 <input name="capName" formControlName="captainName" class="input-login" #capName>
 <div *ngIf="captainName.invalid && (captainName.dirty || isSubmitted)" class="text-danger form-error">
 Captain Name is required.
 </div>
 </div>
 <div class="col-md-6">
 <div><label for="capMobile">Mobile</label></div>
 <input name="capMobile" formControlName="captainMobile" class="input-login" #capMobile (change)="OnCheckEmail(captainMobile.value)">
 <div *ngIf="captainMobile.invalid && (captainMobile.dirty || isSubmitted)" class="text-danger form-error">
 Mobile is required.
 </div>
 
 </div>

 </div>
 <div class="row mb20">
 <div class="col-md-12 mb-xs-30">
 <div><label for="capEmail">Email</label></div>
 <input name="capEmail" formControlName="captainEmail" class="input-login" #capEmail (change)="OnCheckEmail(captainEmail.value)">
 <div *ngIf="captainEmail.invalid && (captainEmail.dirty || isSubmitted)" class="text-danger form-error">
 Email is required.
 </div>
 <div *ngIf="isemail_reg_check != ''" class="text-danger form-error">
 {{isemail_reg_check}}
 </div>
 </div>
 </div>
 <div class="row mb20">
 <div class="col-md-12 mb-xs-30">
 <div><label for="password">Team Size</label></div>
 <select class="form-control select-drop input-login" formControlName="captainTeamSize"> 
 <option value="">Select Team Size</option>
 <option *ngFor="let d of teamLst" [value]="d">{{d}}</option>
 </select>
 <div *ngIf="captainTeamSize.invalid && (captainTeamSize.dirty || isSubmitted)" class="text-danger form-error">
 Team Size is required.
 </div>
 </div>
 </div>
 <div class="row mb20">
 <div class="col-md-12 mb-xs-30"> <label>Team Members</label></div>
 
 <div class="col-md-6 mb-xs-10">
 <div><label for="memName"> Name</label></div>
 <input name="memName" formControlName="captainName" class="input-login" #memName>
 <div *ngIf="captainName.invalid && (captainName.dirty || isSubmitted)" class="text-danger form-error">
 Captain Name is required.
 </div>
 </div>
 <div class="col-md-6">
 <div><label for="capMobile">Mobile</label></div>
 <input name="capMobile" formControlName="captainMobile" class="input-login" #capMobile (change)="OnCheckEmail(captainMobile.value)">
 <div *ngIf="captainMobile.invalid && (captainMobile.dirty || isSubmitted)" class="text-danger form-error">
 Mobile is required.
 </div>
 
 </div>

 </div>








 <div class="row mb20">
 <div class="col-md-12 mb-xs-30">
 <div><label for="password">City</label></div>
 <input name="City" class="input-login" formControlName="CITY"> 
 <div *ngIf="CITY.invalid && (CITY.dirty || isSubmitted)" class="text-danger form-error">
 City is required.
 </div>
 </div>
 </div>
 
 <div class="row">
 <div class="col-md-12 mb-xs-30">
 <div>
 <label for="password">ICICI Bank RM Employee ID</label>
 <a href="#" data-toggle="tooltip" title="Enter zero in numeric(0) as default value"><img src="assets/images/information.png" alt="loader" style="margin-left:2%;cursor: pointer;"/></a>
 
 </div>
 <input name="RM" class="input-login" formControlName="RM" pattern="[0-9]*" (ngModelChange)="employeeIdChanged(RM.value)">
 <div *ngIf="RM.invalid && (RM.dirty || isSubmitted)" class="text-danger form-error">
 RM Employee ID is required (numeric).
 </div>
 </div>
 </div>

 

 


 <div class="clearfix"></div>
 <br>
 <ul class="nav nav-tabs nav-tabs1" role="tablist">
 <li ><button type="button" (click)="save1()" [disabled]="!signupForm.valid || !isemail_check" [ngClass]="signupForm.valid || !isemail_check ? 'btn-blue':'btn-white'" class ='btn' class="signInBtn verifyBtn" > Next</button></li>
 </ul> 
 </div>
 </form>
 <form [formGroup]="signupForm2" [hidden]="!shfrmSFSecond">
 <div class="tab-pane"> 
 <div class="row mb20">
 <div class="col-md-8 mb-xs-30">
 <div><label for="mobile">Please enter the Phone Number</label></div>
 <input id="mobileNumber" formControlName="mobile_no" Type="number" class="input-login" name="mobile" required #Mobile [readonly]="(signupForm.value.otp_verified == 1)">
 <div *ngIf="mobile_no.invalid && (mobile_no.dirty || isSubmitted)" class="text-danger form-error">
 Mobile Number is required.
 </div>
 <div *ngIf="ismobile_reg_check!= '' " class="text-danger form-error">
 {{ismobile_reg_check}}
 </div>
 <div *ngIf="(signupForm.value.otp_send == '1' && signupForm.value.otp_verified == 0)" class="text-success">
 OTP sent on your mobile no. Click <a (click)="SendOtp(Mobile.value)" href="javasript:;">here</a> to resend;
 </div>
 </div>
 <div class="col-md-4 mt4">
 <button [disabled]="(signupForm.value.otp_verified == 1)" type="button" class="tryItFreeBtn sendOTPBtn mt25" (click)="SendOtp(Mobile.value)">Send
 OTP</button>
 <button type="button"
 class="tryItFreeBtn changeMobileNumber mt25" (click)="SendOtp(Mobile.value)">change</button>
 
 </div>
 </div>
 <div class="row mb20" *ngIf="showOtp">
 <div class="col-md-9 mb-xs-30">
 <div><label for="otp">Enter the OTP Received on your Phone Number</label></div>
 <input [readonly]="(signupForm.value.otp_verified == 1)" name="otp" formControlName="otp_code" class="input-login" #OTP>
 <div *ngIf="otp_code.invalid && (otp_code.dirty || isSubmitted)" class="text-danger form-error">
 OTP is required.
 </div>
 <div *ngIf="ismobile_reg_check != '' " class="text-danger form-error">{{isotp_reg_check}}
 </div>
 </div>
 </div>
 <div class="clearfix"></div>
 <br>
 <ul class="nav nav-tabs nav-tabs1" role="tablist">
 <li><button class ='btn'(click)="save2()" [disabled]="!signupForm2.valid" [ngClass]="signupForm2.valid ? 'btn-blue':'btn-white'" class="signInBtn verifyBtn" > Verify</button></li>
 </ul> 
 </div>
 </form> 
 <form [formGroup]="signupForm3" [hidden]="!shfrmSFThird">
 <div class="tab-pane"> 
 <div class="row mb20">
 <div class="col-md-12">
 <div><label for="username">Username</label></div>
 <input formControlName="username" class="input-login" #username (change)="OnCheckUsername(username.value)" autocomplete="new-password">
 <div *ngIf="username.invalid && (username.dirty || isSubmitted)" class="text-danger form-error">
 Username is required.
 </div>
 </div>
 </div>
 <div class="horizontalBorder mb20"></div>
 <div class="row">
 <div class="col-md-6">
 <div><label for="createpassword">Create Password</label></div>
 <input type="password" formControlName="password" class="input-login" #CreatePassword>
 <div *ngIf="password.invalid && (password.dirty || isSubmitted)" class="text-danger form-error">
 Password is required.
 </div>
 </div>
 <div class="col-md-6">
 <div><label for="confirmpassword">Confirm Password</label></div>
 <input type="password" formControlName="confirmPassword" class="input-login" #ConfirmPassword>
 <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || isSubmitted)" class="text-danger form-error">
 Password does not match.
 </div>
 </div>
 <div class="clearfix"></div>
 
 </div>
 <div class="row" style="margin-top: 12px;">
 <div class="col-md-12">
 <label class="checkboxContainer">
 <input type="checkbox" formControlName="term" #term required><span class="checkmark"></span> 
 <a [routerLink]="['/index/termsandcondition']" target="_blank">ACCEPT ALL TERMS & CONDITIONS</a> 
 <div *ngIf="term.invalid && (term.invalid || isSubmitted)" class="text-danger form-error">
 I ACCEPT ALL TERMS & CONDITIONS is required.
 </div>
 </label>
 <div class="clearfix"></div>
 </div>
 </div>
 
 <div class="clearfix"></div>
 <br>
 <ul class="nav nav-tabs nav-tabs1" role="tablist">
 <li ><button (click)="sign_up()" [disabled]="!signupForm3.valid" [ngClass]="signupForm3.valid ? 'btn-blue':'btn-white'" class ='btn' class="signInBtn verifyBtn"> Submit</button></li>
 </ul>
 
 </div>
 </form> 
 
 </div>
 </div>
 <div class="modal-footer">
 <div class="row w100p m0">
 <div class="col-12 pl0">
 <p>Already have an account? Please <span><a class="signIn" (click)="openModal(signin)">Login</a></span></p>
 </div>
 <div class="col-5 pr0">
 <div class="text-right"></div>
 </div>
 </div>
 </div>
 </ng-template> -->

<!-- Modal for appathon Signup -->
<ng-template #appathonSignup>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Appathon Sign Up</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef2.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs nav-tabs1" role="tablist">
      <li role="presentation" class="active">
        <a
          [ngStyle]="{ color: shfrmSFFirst1 ? '#f06321' : '#919191' }"
          href="javascript:;"
          (click)="appathonSignup_link(1)"
          >Basic Details <i class="fa fa-angle-right"></i
        ></a>
      </li>
      <li role="presentation">
        <a
          [ngStyle]="{ color: shfrmSFSecond1 ? '#f06321' : ' #919191' }"
          href="javascript:;"
          (click)="appathonSignup_link(2)"
          >Mobile Number <i class="fa fa-angle-right"></i
        ></a>
      </li>
      <li role="presentation">
        <a
          [ngStyle]="{ color: shfrmSFThird1 ? '#f06321' : '#919191' }"
          href="javascript:;"
          (click)="appathonSignup_link(3)"
        >
          Credentials
        </a>
      </li>
      <!-- <li role="presentation" ><a href="#Agreement" aria-controls="Agreement" role="tab" data-toggle="tab">Agreement</a></li> -->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tab-content1">
      <form [formGroup]="appathonSignupForm" [hidden]="!shfrmSFFirst1">
        <div class="tab-pane">
          <div class="row mb20">
            <!-- Team Name -->
            <div class="col-md-12 mb-xs-30">
              <div><label for="team">Team Name</label></div>
              <input
                name="teamName"
                formControlName="teamName"
                class="input-login"
                #teamName
              />
              <div
                *ngIf="teamName.invalid && (teamName.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Team name is required.
              </div>
            </div>
            <!-- Team Name -->
          </div>

          <div class="row mb20">
            <!-- Team Captain -->
            <div class="col-md-12 mb-xs-30"><label>Team Captain</label></div>
            <div class="col-md-6 mb-xs-10">
              <div><label for="captainName">Name</label></div>
              <input
                name="captainName"
                formControlName="captainName"
                class="input-login"
                #captainName
              />
              <div
                *ngIf="
                  captainName.invalid && (captainName.dirty || isSubmitted)
                "
                class="text-danger form-error"
              >
                Captain name is required.
              </div>
            </div>
            <!-- Team Captain -->
            <!-- mobileNumber -->
            <div class="col-md-6 mb-xs-10">
              <div><label for="captainMobileNumber">Mobile Number</label></div>
              <input
                id="captainMobileNumber"
                formControlName="captainMobileNumber"
                Type="number"
                class="input-login"
                name="captainMobileNumber"
                required
                #captainMobileNumber
              />
              <div
                *ngIf="
                  captainMobileNumber.invalid &&
                  (captainMobileNumber.dirty || isSubmitted)
                "
                class="text-danger form-error"
              >
                Mobile number is required.
              </div>
              <div
                *ngIf="ismobile_reg_check != ''"
                class="text-danger form-error"
              >
                {{ ismobile_reg_check }}
              </div>
            </div>
            <!-- mobileNumber -->
          </div>

          <div class="row mb20">
            <!-- email -->
            <div class="col-md-12 mb-xs-30">
              <div><label for="teamEmail">Email</label></div>
              <input
                name="teamEmail"
                formControlName="teamEmail"
                class="input-login"
                #teamEmail
                (change)="OnCheckEmail(teamEmail.value)"
              />
              <div
                *ngIf="teamEmail.invalid && (teamEmail.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Email is required.
              </div>
              <div
                *ngIf="isemail_reg_check != ''"
                class="text-danger form-error"
              >
                {{ isemail_reg_check }}
              </div>
              <!-- email -->
            </div>
          </div>

          <div class="row mb20">
            <!-- team size -->
            <div class="col-md-12 mb-xs-30">
              <div><label for="teamSize">Team Size</label></div>
              <select
                class="form-control select-drop input-login"
                formControlName="teamSize"
                #teamSize
                (change)="appOnChange($event.target.value)"
              >
                <option value="">Select Team Size</option>
                <option *ngFor="let d of teamList" [value]="d">{{ d }}</option>
              </select>
              <div
                *ngIf="teamSize.invalid && (teamSize.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Team Size is required.
              </div>
            </div>
            <!-- team size -->
          </div>

          <div class="row mb20" *ngFor="let i of teamMemberArr">
            <div class="col-md-12 mb-xs-30" *ngIf="i > 0">
              <label for="teamMember">Team Member {{ i }}</label>
            </div>
            <div class="col-md-6 mb-xs-10" *ngIf="i > 0">
              <div><label for="memberName">Name</label></div>
              <input
                name="memberName{{ i }}"
                formControlName="memberName{{ i }}"
                class="input-login"
                #memberName
                (change)="onChangeInput1($event.target.value)"
                required
              />
              <div
                *ngIf="memberName.invalid && (memberName.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Member name is required.
              </div>
            </div>

            <div class="col-md-6 mb-xs-10" *ngIf="i > 0">
              <div><label for="memberMobileNumber">Mobile Number</label></div>
              <input
                id="memberMobileNumber{{ i }}"
                formControlName="memberMobileNumber{{ i }}"
                Type="number"
                class="input-login"
                name="memberMobileNumber{{ i }}"
                required
                #memberMobileNumber
                (change)="onChangeInput2($event.target.value)"
              />
              <div
                *ngIf="
                  memberMobileNumber.invalid &&
                  (memberMobileNumber.dirty || isSubmitted)
                "
                class="text-danger form-error"
              >
                Mobile number is required.
              </div>
              <!-- <div
                *ngIf="ismobile_reg_check != ''"
                class="text-danger form-error"
              >
                {{ ismobile_reg_check }}
              </div> -->
            </div>

            <div class="col-md-12 mb-xs-30 elabel" *ngIf="i > 0">
              <div><label for="memberEmail">Company Mail ID</label></div>
              <input
                name="memberEmail{{ i }}"
                formControlName="memberEmail{{ i }}"
                class="input-login"
                #memberEmail
                required
                (change)="onChangeInput3($event.target.value)"
              />
              <div
                *ngIf="
                  memberEmail.invalid && (memberEmail.dirty || isSubmitted)
                "
                class="text-danger form-error"
              >
                Email is required.
              </div>
              <!-- <div
                *ngIf="isemail_reg_check != ''"
                class="text-danger form-error"
              >
                {{ isemail_reg_check }}
              </div> -->
            </div>
          </div>

          <div class="row mb20">
            <div class="col-md-12 mb-xs-30">
              <div><label for="location">Location</label></div>
              <input
                name="location"
                formControlName="location"
                class="input-login"
                #location
              />
              <div
                *ngIf="location.invalid && (location.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Location is required.
              </div>
            </div>
          </div>

          <div class="row mb20">
            <div class="col-md-12 mb-xs-30">
              <div>
                <label for="memberCompanyName">Company Name (if any)</label>
              </div>
              <input
                name="memberCompanyName"
                formControlName="memberCompanyName"
                class="input-login"
                #memberCompanyName
              />
            </div>
          </div>

          <div class="clearfix"></div>
          <br />
          <ul class="nav nav-tabs nav-tabs1" role="tablist">
            <li>
              <button
                type="button"
                (click)="appathonSave1()"
                [disabled]="!appathonSignupForm.valid || !isemail_check"
                [ngClass]="
                  appathonSignupForm.valid || !isemail_check
                    ? 'btn-blue'
                    : 'btn-white'
                "
                class="btn"
                class="signInBtn verifyBtn"
              >
                Next
              </button>
            </li>
          </ul>
        </div>
      </form>
      <form [formGroup]="appathonSignupForm2" [hidden]="!shfrmSFSecond1">
        <div class="tab-pane">
          <div class="row mb20">
            <div class="col-md-8 mb-xs-30">
              <div>
                <label for="mobile_no">Please enter the Phone Number</label>
              </div>
              <input
                id="mobileNumber"
                formControlName="mobile_no"
                Type="number"
                class="input-login"
                name="mobile"
                required
                #mobile_no
                [readonly]="appathonSignupForm.value.otp_verified == 1"
              />
              <div
                *ngIf="mobile_no.invalid && (mobile_no.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Mobile Number is required.
              </div>
              <div
                *ngIf="ismobile_reg_check != ''"
                class="text-danger form-error"
              >
                {{ ismobile_reg_check }}
              </div>
              <div
                *ngIf="
                  appathonSignupForm.value.otp_send == '1' &&
                  appathonSignupForm.value.otp_verified == 0
                "
                class="text-success"
              >
                OTP sent on your mobile no. Click
                <a (click)="appathonSendOtp(mobile_no.value)" href="javasript:;"
                  >here</a
                >
                to resend
              </div>
            </div>
            <div class="col-md-4 mt4">
              <button
                [disabled]="appathonSignupForm.value.otp_verified == 1"
                type="button"
                class="tryItFreeBtn sendOTPBtn mt25"
                (click)="SendOtp(mobile_no.value)"
                style="margin-right: 0;"
              >
                Send OTP
              </button>
              <button
                type="button"
                class="tryItFreeBtn changeMobileNumber mt25"
                (click)="SendOtp(mobile_no.value)"
              >
                change
              </button>
            </div>
          </div>
          <!-- <ng-template #elseBlock> -->
          <div class="row mb20" *ngIf="showOtp">
            <div class="col-md-9 mb-xs-30">
              <div>
                <label for="otp"
                  >Enter the OTP Received on your Phone Number</label
                >
              </div>
              <input
                [readonly]="appathonSignupForm.value.otp_verified == 1"
                name="otp"
                formControlName="otp_code"
                class="input-login"
                #OTP
              />
              <div
                *ngIf="otp_code.invalid && (otp_code.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                OTP is required.
              </div>
              <div
                *ngIf="ismobile_reg_check != ''"
                class="text-danger form-error"
              >
                {{ isotp_reg_check }}
              </div>
            </div>
          </div>
          <!-- </ng-template> -->
          <div class="clearfix"></div>
          <br />
          <ul class="nav nav-tabs nav-tabs1" role="tablist">
            <li>
              <button
                class="btn"
                (click)="appathonSave2()"
                [disabled]="!appathonSignupForm2.valid"
                [ngClass]="appathonSignupForm2.valid ? 'btn-blue' : 'btn-white'"
                class="signInBtn verifyBtn"
              >
                Verify
              </button>
            </li>
          </ul>
        </div>
      </form>
      <form [formGroup]="appathonSignupForm3" [hidden]="!shfrmSFThird1">
        <div class="tab-pane">
          <div class="row mb20">
            <div class="col-md-12">
              <div><label for="username">Username</label></div>
              <input
                formControlName="username"
                class="input-login"
                #username
                (change)="OnCheckUsername(username.value)"
                autocomplete="new-password"
              />
              <div
                *ngIf="username.invalid && (username.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Username is required.
              </div>
            </div>
          </div>
          <div class="horizontalBorder mb20"></div>
          <div class="row">
            <div class="col-md-6">
              <div><label for="createpassword">Create Password</label></div>
              <input
                type="password"
                formControlName="password"
                class="input-login"
                #CreatePassword
              />
              <div
                *ngIf="password.invalid && (password.dirty || isSubmitted)"
                class="text-danger form-error"
              >
                Password is required.
              </div>
            </div>
            <div class="col-md-6">
              <div><label for="confirmpassword">Confirm Password</label></div>
              <input
                type="password"
                formControlName="confirmPassword"
                class="input-login"
                #ConfirmPassword
              />
              <div
                *ngIf="
                  confirmPassword.invalid &&
                  (confirmPassword.dirty || isSubmitted)
                "
                class="text-danger form-error"
              >
                Password does not match.
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row" style="margin-top: 12px;">
            <div class="col-md-12">
              <label class="checkboxContainer">
                <input
                  type="checkbox"
                  formControlName="term"
                  #term
                  required
                /><span class="checkmark"></span>
                <a href="/assets/documents/termsAndConditionsFinal.pdf" target="_blank"
                  >ACCEPT ALL TERMS & CONDITIONS</a
                >
                <div
                  *ngIf="term.invalid && (term.invalid || isSubmitted)"
                  class="text-danger form-error"
                >
                  I ACCEPT ALL TERMS & CONDITIONS is required.
                </div>
              </label>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="clearfix"></div>
          <br />
          <ul class="nav nav-tabs nav-tabs1" role="tablist">
            <li>
              <button
                (click)="appathonSign_up()"
                [disabled]="!appathonSignupForm3.valid"
                [ngClass]="appathonSignupForm3.valid ? 'btn-blue' : 'btn-white'"
                class="btn"
                class="signInBtn verifyBtn"
              >
                Submit
              </button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row w100p m0">
      <div class="col-12 pl0">
        <p>
          Already have an account? Please
          <span><a class="signIn" (click)="openModal(signin)">Login</a></span>
        </p>
      </div>
      <div class="col-5 pr0">
        <div class="text-right"></div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal for appathon Signup -->

<ng-template #loginsuccess>
  <div class="modal-header loginsuccess-modal-border">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef4Close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row success-label-div">
      <Label class="success-label">Login Successful</Label>
    </div>
    <div class="row mb10">
      <div class="col-md-12">
        <img src="assets/images/image 2.JPG" width="100%" />
      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer-border">
    <div class="row w100p m0">
      <div class="col-12 plr0 mb30">
        <div class="ok-btn-div">
          <button
            type="submit"
            class="signInBtn w100p ok-btn"
            (click)="clickOk()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- End Modal -->
<!-- End Modal -->
