<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="documentTabContent">
    <div class="tab-content" id="v-pills-tabContent">
       <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">dashboard</div>
       <div class="tab-pane fade active show" id="v-pills-applications" role="tabpanel" aria-labelledby="v-pills-applications-tab">
          <div class="tabContentInner">
             <div class="row">
                <div class="col-md-7">
                   <h4 class="color-black30 fs24 ff-semibold mb10">Analytics</h4>
                </div>
             </div>
          </div>
       </div>
      </div>
 </div>