<toaster-container></toaster-container> 
<ng4-loading-spinner> </ng4-loading-spinner>
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="documentTabContent" style="display: contents;">
    <div class="tab-content" id="v-pills-tabContent">
       <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">dashboard</div>
       <div class="tab-pane fade active show" id="v-pills-applications" role="tabpanel" aria-labelledby="v-pills-applications-tab">
         
          <div class="">
             <div class="row">
                <div class="col-md-12">
                     <div >
                           <div class="tab-content" id="v-pills-tabContent">
                              <div class="tab-pane fade show active" id="v-pills-dasboard" role="tabpanel" aria-labelledby="v-pills-applications">
                                 <div class="tabContentInner" style="padding:0px">
                                    <iframe width="100%" height="700px"  src="https://sandbox.icicibank.com/dashboard/my-profile" frameborder="0" allowfullscreen=""></iframe>
                                 </div>
                              </div>
                           </div>
                         </div>
                </div>
           
             </div>
          </div>
       </div>
 </div>
 <!-- <div class="copyrightSection">
      <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
   </div> -->
 </div>