<div id="container">
  <app-header></app-header>
  <!-- <router-outlet></router-outlet> -->
  <div id="home" class="tab-pane fade in active show">
    <section class="banner" style="margin-top: 45px;">
      <div class="row" style="height:450px">
        <img
          src="assets/images/ICICI-APPATHON-2020_web_1000X400.jpg"
          alt=""
          style="width:100%"
        />
      </div>
    </section>
    <section class="sectionAPIs sectionAPIsGrayBg">
      <h3>Introduction</h3>
      <!-- <p class="text-center mb50" (click)="browse_api(signin)">Get your developers onboard, very quickly. Learn how to incorporate our
         ICICI Bank APIs in just few easy steps.
      </p> -->
      <p class="text-center mb50">
        ICICI Bank invites you to develop unique products using over 250 APIs
        hosted on this portal. The programme aims at creating next generation
        banking products to find some ground- breaking use cases on mobile and
        web space by attracting innovative and energetic startups. Participants
        need to envision a new solution and use the diverse sets APIs to create
        innovative minimum viable solutions. The solutions that surpass the
        currently available solutions in the market, give a superior and
        intuitive experience to the end user, will compete for the top prizes in
        the Grand Finale. The top three winners stand a chance to win prizes
        upto Rs.10 lakh along with a potential engagement opportunity with ICICI
        Bank. So get started and register now.
      </p>
      <!-- <div style="display: flex;justify-content: center;">
        <a class="signInBtn mr10" (click)="registerForAppathon()"
          >Register for Appathon</a
        >
      </div> -->
    </section>

    <!-- Program details -->

    <section class="sectionAPIs sectionAPIsGrayBg" style="background: white;">
      <h3>Program Details</h3>
      <p class="mb50" style="text-align: center;">
        ICICI Bank Appathon will be conductedin 3 phases:
      </p>

      <div
        class="row mb30 hidden-xs"
        style="display:flex;justify-content: space-evenly;"
      >
        <div class="col-md-4">
          <a class="cursor" style="text-decoration:none;">
            <div class="sectionAPICard availableAPICard">
              <div
                class="sectionAPICardImage"
                style="display: flex;justify-content: center;align-items: center;"
              >
                <i class="material-icons" style="font-size:60px;color:#f06321"
                  >assignment_ind</i
                >
              </div>
              <h4>Phase 1</h4>
              <p>
                Startups can register on https://developer.icicibank.com/ and
                submit their ideas by 23 February, 2020. The names of the
                shortlisted startups will be announced before February 27, 2020.
                Startups will have to share a brief presentation describing
                problem statement, market opportunity, product features, use
                cases and APIs to be used for integration.
              </p>
            </div>
          </a>
        </div>
        <div class=" col-md-4">
          <a class="cursor" style="text-decoration:none;">
            <div class="sectionAPICard availableAPICard ">
              <div
                class="sectionAPICardImage"
                style="display: flex;justify-content: center;align-items: center;"
              >
                <i class="material-icons" style="font-size:60px;color:#f06321"
                  >voice_chat</i
                >
              </div>
              <h4>Phase 2</h4>
              <p>
                Shortlisted Startups will start working on actual product and
                integrations. Access to banks APIs would be given for product
                development. Startups would have to provide final submission of
                product demo by first week of March. In this round startups may
                also avail opportunity to discuss their solution with respective
                business and technology teams.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a class="cursor" style="text-decoration:none;">
            <div class="sectionAPICard availableAPICard">
              <div
                class="sectionAPICardImage"
                style="display: flex;justify-content: center;align-items: center;"
              >
                <i class="material-icons" style="font-size:60px;color:#f06321"
                  >location_city</i
                >
              </div>
              <h4>Phase 3</h4>
              <p>
                Finalists will be announced mid-week of March 2020. They will be
                invited to Mumbai to present their solution in the ‘Grand
                Finale’ to be held during end of March.
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- <section>
      <p style="text-align: center; ">
        ICICI Bank Appathon will be conductedin 3 phases:
      </p>
    </section> -->
    <section class="sectionAPIs letsGetConnected">
      <h3>Eligibility Criteria</h3>
      <p class="mb50" style="text-align: center;">
        All participants must adhere to the following criteria to participate in
        the programme:
      </p>

      <ul style="font-size: 16px;color:white">
        <li>This programme is open to startups.</li>
        <li>
          This programme is also open to companies who have previously sold,
          licensed or otherwise provided services and/or similar solutions to
          ICICI Bank.
        </li>
        <li>
          This is a team participation programme. You can have at most 5 members
          in a team.
        </li>
        <li>
          In order to participate, the team needs to use at least one of the
          listed ICICI Bank APIs on the site. The theme of this Appathon is API
          Banking, so participants are recommended to use APIs as hosted on
          developer portal of ICICI Bank
        </li>
        <!-- <li>
          You may use any other open source libraries available elsewhere.
        </li> -->
        <li>
          By participating in the Appathon, you agree to the Terms and
          Conditions.
        </li>
      </ul>
    </section>
    <section
      class="sectionAPIs letsGetConnected"
      style="padding-left: 0;padding-right:0;margin-bottom: 20px;"
    >
      <div class="row" style="height:450px; width:100%;margin:0">
        <img src="assets/images/judgingBanner.jpg" alt="" style="width:100%" />
      </div>
    </section>

    <section class="sectionAPIs letsGetConnected">
      <!-- <h3>Judging Criteria</h3> -->
      <p class="mb50" style="text-align: center;">
        Since ICICI Bank is seeking innovative ideas and solutions, there is no
        single criterion on which we will judge your submission. Ideas will be
        looked at from multiple perspectives like viability, implementation
        ability, benefits, completeness of the solution, Business potential,
        relevance, user experience and scalability. following parameters can be
        used as an indicator of how the evaluation will happen to determine
        finalists and overall award recipients:
      </p>

      <ul style="font-size: 16px;color:white">
        <li>
          The judges reserve the right to provide a participant who applies for
          one category with an award from another category, at their sole
          discretion.
        </li>
        <li>
          The decisions of the judges are final and binding. If we do not
          receive a sufficient number of entries meeting the entry requirements,
          we may, at our discretion, select fewer winners than described.
        </li>
        <li>
          In the event of a tie between any eligible entries, an additional
          judge will break the tie based on the judging criteria described
          above.
        </li>
      </ul>
    </section>
  </div>
  <app-footer></app-footer>
</div>
