<div id="container">
  <app-header></app-header>
  <!-- <router-outlet></router-outlet> -->
  <div id="home" class="tab-pane fade in active show">
    <section class="banner" style="margin-top: 45px;">
      <div
        class="row"
        id="content-desktop"
        style="height:450px"
        (click)="openModalAppathonSignup(appathonSignup)"
      >
        <img
          src="assets/images/ICICI-APPATHON-2020_web_1000X400.jpg"
          alt=""
          style="width:100%"
        />
      </div>
      <div
        class="row app-ban"
        id="content-mobile"
        style="height:450px"
        (click)="openModalAppathonSignup(appathonSignup)"
      >
        <img src="assets/images/app-banner.jpg" alt="" style="width:100%" />
      </div>
    </section>
    <section class="sectionAPIs sectionAPIsGrayBg">
      <h3>Introduction</h3>
      <!-- <p class="text-center mb50" (click)="browse_api(signin)">Get your developers onboard, very quickly. Learn how to incorporate our
         ICICI Bank APIs in just few easy steps.
      </p> -->
      <p class="text-center mb50">
        ICICI Bank invites you to develop unique products using over 250 APIs
        hosted on this portal. The programme aims at creating next generation
        banking products to find some ground- breaking use cases on mobile and
        web space by attracting innovative and energetic startups. Participants
        need to envision a new solution and use the diverse sets APIs to create
        innovative minimum viable solutions. The solutions that surpass the
        currently available solutions in the market, give a superior and
        intuitive experience to the end user, will compete for the top prizes in
        the Grand Finale. The top three winners stand a chance to win prizes
        upto Rs.10 lakh along with a potential engagement opportunity with ICICI
        Bank. So get started and register now.
      </p>
      <!-- <div style="display: flex;justify-content: center;">
        <a class="signInBtn mr10" (click)="registerForAppathon()"
          >Register for Appathon</a
        >
      </div> -->
    </section>

    <!-- Program details -->

    <section class="sectionAPIs sectionAPIsGrayBg" style="background: white;">
      <h3>Program Details</h3>
      <p class="mb50" style="text-align: center;">
        ICICI Bank Appathon will be conductedin 3 phases:
      </p>

      <div
        class="row mb30 hidden-xs"
        style="display:flex;justify-content: space-evenly;"
      >
        <div class="col-md-4">
          <a class="cursor" style="text-decoration:none;">
            <div class="sectionAPICard availableAPICard">
              <div
                class="sectionAPICardImage"
                style="display: flex;justify-content: center;align-items: center;"
              >
                <i class="material-icons" style="font-size:60px;color:#f06321"
                  >assignment_ind</i
                >
              </div>
              <h4>Phase 1</h4>
              <p>
                Startups can register on https://developer.icicibank.com/ and
                submit their ideas by 23 February, 2020. The names of the
                shortlisted startups will be announced before February 27, 2020.
                Startups will have to share a brief presentation describing
                problem statement, market opportunity, product features, use
                cases and APIs to be used for integration.
              </p>
            </div>
          </a>
        </div>
        <div class=" col-md-4">
          <a class="cursor" style="text-decoration:none;">
            <div class="sectionAPICard availableAPICard ">
              <div
                class="sectionAPICardImage"
                style="display: flex;justify-content: center;align-items: center;"
              >
                <i class="material-icons" style="font-size:60px;color:#f06321"
                  >voice_chat</i
                >
              </div>
              <h4>Phase 2</h4>
              <p>
                Shortlisted Startups will start working on actual product and
                integrations. Access to banks APIs would be given for product
                development. Startups would have to provide final submission of
                product demo by first week of March. In this round startups may
                also avail opportunity to discuss their solution with respective
                business and technology teams.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a class="cursor" style="text-decoration:none;">
            <div class="sectionAPICard availableAPICard">
              <div
                class="sectionAPICardImage"
                style="display: flex;justify-content: center;align-items: center;"
              >
                <i class="material-icons" style="font-size:60px;color:#f06321"
                  >location_city</i
                >
              </div>
              <h4>Phase 3</h4>
              <p>
                Finalists will be announced mid-week of March 2020. They will be
                invited to Mumbai to present their solution in the ‘Grand
                Finale’ to be held during end of March.
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- <section>
      <p style="text-align: center; ">
        ICICI Bank Appathon will be conductedin 3 phases:
      </p>
    </section> -->
    <section class="sectionAPIs letsGetConnected">
      <h3>Eligibility Criteria</h3>
      <p class="mb50" style="text-align: center;">
        All participants must adhere to the following criteria to participate in
        the programme:
      </p>

      <ul style="font-size: 16px;color:white">
        <li>This programme is open to startups.</li>
        <li>
          This programme is also open to companies who have previously sold,
          licensed or otherwise provided services and/or similar solutions to
          ICICI Bank.
        </li>
        <li>
          This is a team participation programme. You can have at most 5 members
          in a team.
        </li>
        <li>
          In order to participate, the team needs to use at least one of the
          listed ICICI Bank APIs on the site. The theme of this Appathon is API
          Banking, so participants are recommended to use APIs as hosted on
          developer portal of ICICI Bank
        </li>
        <!-- <li>
          You may use any other open source libraries available elsewhere.
        </li> -->
        <li>
          By participating in the Appathon, you agree to the Terms and
          Conditions.
        </li>
      </ul>
    </section>
    <section
      class="sectionAPIs letsGetConnected"
      style="padding-left: 0;padding-right:0;margin-bottom: 20px;"
    >
      <!-- <div class="row" style="height:450px; width:100%;margin:0">
        <img src="assets/images/judgingBanner.jpg" alt="" style="width:100%" />
      </div> -->
      <div class="row" id="judging-desktop">
        <img src="assets/images/judgingBanner.jpg" alt="" style="width:100%" />
      </div>
      <div class="row app-ban" id="judging-mobile">
        <img
          src="assets/images/Judging-Banner_sm.jpg"
          alt=""
          style="width:100%"
        />
      </div>
    </section>

    <section class="sectionAPIs letsGetConnected" style="margin-bottom: 10px;">
      <!-- <h3>Judging Criteria</h3> -->
      <p class="mb50" style="text-align: center;">
        Since ICICI Bank is seeking innovative ideas and solutions, there is no
        single criterion on which we will judge your submission. Ideas will be
        looked at from multiple perspectives like viability, implementation
        ability, benefits, completeness of the solution, Business potential,
        relevance, user experience and scalability. following parameters can be
        used as an indicator of how the evaluation will happen to determine
        finalists and overall award recipients:
      </p>

      <ul style="font-size: 16px;color:white">
        <li>
          The judges reserve the right to provide a participant who applies for
          one category with an award from another category, at their sole
          discretion.
        </li>
        <li>
          The decisions of the judges are final and binding. If we do not
          receive a sufficient number of entries meeting the entry requirements,
          we may, at our discretion, select fewer winners than described.
        </li>
        <li>
          In the event of a tie between any eligible entries, an additional
          judge will break the tie based on the judging criteria described
          above.
        </li>
      </ul>
    </section>

    <section
      class="sectionAPIs letsGetConnected"
      style="margin-bottom: 10px;background-color: #f6f6f6;"
    >
      <div><h3 style="color:black">Awards</h3></div>
      <div style="display: flex; justify-content: center;">
        <table style="font-size: 16px;color:black; border: 1px solid black;">
          <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;padding:30px;">
              1st Prize
            </td>
            <td style="border: 1px solid black;padding:30px;">
              <ul>
                <li>
                  INR 5 Lakh in monetary award
                </li>
                <li>
                  Potential opportunity to explore a commercial relationship
                  with ICICI Bank
                </li>
              </ul>
            </td>
          </tr>
          <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;padding:30px;">
              2nd Prize
            </td>
            <td style="border: 1px solid black;padding:30px;">
              <ul>
                <li>
                  INR 3 Lakh in monetary award
                </li>
                <li>
                  Potential opportunity to explore a commercial relationship
                  with ICICI Bank
                </li>
              </ul>
            </td>
          </tr>
          <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;padding:30px;">
              3rd Prize
            </td>
            <td style="border: 1px solid black;padding:30px;">
              <ul>
                <li>
                  INR 2 lakh in monetary award
                </li>
                <li>
                  Potential opportunity to explore a commercial relationship
                  with ICICI Bank
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </section>

    <section
      class="sectionAPIs letsGetConnected"
      style="background-color: white;"
    >
      <h3 style="color: black;">Contact us</h3>

      <ul style="font-size: 16px;color:black">
        <li>
          For Programme related queries and support, please reach us at
          iciciappathon@icicibank.com
        </li>
        <li>
          For technology support related queries, please reach us at
          appathontech@icicibank.com
        </li>
      </ul>
    </section>
  </div>
  <!-- Modal for appathon Signup -->
  <ng-template #appathonSignup>
    <div class="modal-header">
      <h3 class="modal-title pull-left">Appathon Sign Up</h3>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef2.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="nav nav-tabs nav-tabs1" role="tablist">
        <li role="presentation" class="active">
          <a
            [ngStyle]="{ color: shfrmSFFirst1 ? '#f06321' : '#919191' }"
            href="javascript:;"
            (click)="appathonSignup_link(1)"
            >Basic Details <i class="fa fa-angle-right"></i
          ></a>
        </li>
        <li role="presentation">
          <a
            [ngStyle]="{ color: shfrmSFSecond1 ? '#f06321' : ' #919191' }"
            href="javascript:;"
            (click)="appathonSignup_link(2)"
            >Mobile Number <i class="fa fa-angle-right"></i
          ></a>
        </li>
        <li role="presentation">
          <a
            [ngStyle]="{ color: shfrmSFThird1 ? '#f06321' : '#919191' }"
            href="javascript:;"
            (click)="appathonSignup_link(3)"
          >
            Credentials
          </a>
        </li>
        <!-- <li role="presentation" ><a href="#Agreement" aria-controls="Agreement" role="tab" data-toggle="tab">Agreement</a></li> -->
      </ul>
      <!-- Tab panes -->
      <div class="tab-content tab-content1">
        <form [formGroup]="appathonSignupForm" [hidden]="!shfrmSFFirst1">
          <div class="tab-pane">
            <div class="row mb20">
              <!-- Team Name -->
              <div class="col-md-12 mb-xs-30">
                <div><label for="team">Team Name</label></div>
                <input
                  name="teamName"
                  formControlName="teamName"
                  class="input-login"
                  #teamName
                />
                <div
                  *ngIf="teamName.invalid && (teamName.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  Team name is required.
                </div>
              </div>
              <!-- Team Name -->
            </div>

            <div class="row mb20">
              <!-- Team Captain -->
              <div class="col-md-12 mb-xs-30"><label>Team Captain</label></div>
              <div class="col-md-6 mb-xs-10">
                <div><label for="captainName">Name</label></div>
                <input
                  name="captainName"
                  formControlName="captainName"
                  class="input-login"
                  #captainName
                />
                <div
                  *ngIf="
                    captainName.invalid && (captainName.dirty || isSubmitted)
                  "
                  class="text-danger form-error"
                >
                  Captain name is required.
                </div>
              </div>
              <!-- Team Captain -->
              <!-- mobileNumber -->
              <div class="col-md-6 mb-xs-10">
                <div>
                  <label for="captainMobileNumber">Mobile Number</label>
                </div>
                <input
                  id="captainMobileNumber"
                  formControlName="captainMobileNumber"
                  Type="number"
                  class="input-login"
                  name="captainMobileNumber"
                  required
                  #captainMobileNumber
                />
                <div
                  *ngIf="
                    captainMobileNumber.invalid &&
                    (captainMobileNumber.dirty || isSubmitted)
                  "
                  class="text-danger form-error"
                >
                  Mobile number is required.
                </div>
                <div
                  *ngIf="ismobile_reg_check != ''"
                  class="text-danger form-error"
                >
                  {{ ismobile_reg_check }}
                </div>
              </div>
              <!-- mobileNumber -->
            </div>

            <div class="row mb20">
              <!-- email -->
              <div class="col-md-12 mb-xs-30">
                <div><label for="teamEmail">Company Mail ID</label></div>
                <input
                  name="teamEmail"
                  formControlName="teamEmail"
                  class="input-login"
                  #teamEmail
                />
                <div
                  *ngIf="teamEmail.invalid && (teamEmail.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  Email is required.
                </div>

                <!-- email -->
              </div>
            </div>

            <div class="row mb20">
              <!-- team size -->
              <div class="col-md-12 mb-xs-30">
                <div><label for="teamSize">Team Size</label></div>
                <select
                  class="form-control select-drop input-login"
                  formControlName="teamSize"
                  #teamSize
                  (change)="appOnChange($event.target.value)"
                >
                  <option value="">Select Team Size</option>
                  <option *ngFor="let d of teamList" [value]="d">{{
                    d
                  }}</option>
                </select>
                <div
                  *ngIf="teamSize.invalid && (teamSize.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  Team Size is required.
                </div>
              </div>
              <!-- team size -->
            </div>

            <div class="row mb20" *ngFor="let i of teamMemberArr">
              <div class="col-md-12 mb-xs-30" *ngIf="i > 0">
                <label for="teamMember">Team Member {{ i }}</label>
              </div>
              <div class="col-md-6 mb-xs-10" *ngIf="i > 0">
                <div><label for="memberName">Name</label></div>
                <input
                  name="memberName{{ i }}"
                  formControlName="memberName{{ i }}"
                  class="input-login"
                  #memberName
                  (change)="onChangeInput1($event.target.value)"
                  required
                />
                <div
                  *ngIf="
                    memberName.invalid && (memberName.dirty || isSubmitted)
                  "
                  class="text-danger form-error"
                >
                  Member name is required.
                </div>
              </div>

              <div class="col-md-6 mb-xs-10" *ngIf="i > 0">
                <div><label for="memberMobileNumber">Mobile Number</label></div>
                <input
                  id="memberMobileNumber{{ i }}"
                  formControlName="memberMobileNumber{{ i }}"
                  Type="number"
                  class="input-login"
                  name="memberMobileNumber{{ i }}"
                  required
                  #memberMobileNumber
                  (change)="onChangeInput2($event.target.value)"
                />
                <div
                  *ngIf="
                    memberMobileNumber.invalid &&
                    (memberMobileNumber.dirty || isSubmitted)
                  "
                  class="text-danger form-error"
                >
                  Mobile number is required.
                </div>
                <!-- <div
                *ngIf="ismobile_reg_check != ''"
                class="text-danger form-error"
              >
                {{ ismobile_reg_check }}
              </div> -->
              </div>

              <div class="col-md-12 mb-xs-30 elabel" *ngIf="i > 0">
                <div><label for="memberEmail">Company Mail ID</label></div>
                <input
                  name="memberEmail{{ i }}"
                  formControlName="memberEmail{{ i }}"
                  class="input-login"
                  #memberEmail
                  required
                  (change)="onChangeInput3($event.target.value)"
                />
                <div
                  *ngIf="
                    memberEmail.invalid && (memberEmail.dirty || isSubmitted)
                  "
                  class="text-danger form-error"
                >
                  Email is required.
                </div>
                <!-- <div
                *ngIf="isemail_reg_check != ''"
                class="text-danger form-error"
              >
                {{ isemail_reg_check }}
              </div> -->
              </div>
            </div>

            <div class="row mb20">
              <div class="col-md-12 mb-xs-30">
                <div><label for="location">Location</label></div>
                <input
                  name="location"
                  formControlName="location"
                  class="input-login"
                  #location
                />
                <div
                  *ngIf="location.invalid && (location.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  Location is required.
                </div>
              </div>
            </div>

            <div class="row mb20">
              <div class="col-md-12 mb-xs-30">
                <div>
                  <label for="memberCompanyName">Company Name (if any)</label>
                </div>
                <input
                  name="memberCompanyName"
                  formControlName="memberCompanyName"
                  class="input-login"
                  #memberCompanyName
                />
              </div>
            </div>

            <div class="clearfix"></div>
            <br />
            <ul class="nav nav-tabs nav-tabs1" role="tablist">
              <li>
                <button
                  type="button"
                  (click)="appathonSave1()"
                  [disabled]="!appathonSignupForm.valid"
                  [ngClass]="
                    appathonSignupForm.valid ? 'btn-blue' : 'btn-white'
                  "
                  class="btn"
                  class="signInBtn verifyBtn"
                >
                  Next
                </button>
              </li>
            </ul>
          </div>
        </form>
        <form [formGroup]="appathonSignupForm2" [hidden]="!shfrmSFSecond1">
          <div class="tab-pane">
            <div class="row mb20">
              <div class="col-md-8 mb-xs-30">
                <div>
                  <label for="mobile_no">Please enter the Phone Number</label>
                </div>
                <input
                  id="mobileNumber"
                  formControlName="mobile_no"
                  Type="number"
                  class="input-login"
                  name="mobile"
                  required
                  #mobile_no
                  [readonly]="appathonSignupForm.value.otp_verified == 1"
                />
                <div
                  *ngIf="mobile_no.invalid && (mobile_no.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  Mobile Number is required.
                </div>
                <div
                  *ngIf="ismobile_reg_check != ''"
                  class="text-danger form-error"
                >
                  {{ ismobile_reg_check }}
                </div>
                <div
                  *ngIf="
                    appathonSignupForm.value.otp_send == '1' &&
                    appathonSignupForm.value.otp_verified == 0
                  "
                  class="text-success"
                >
                  OTP sent on your mobile no. Click
                  <a
                    (click)="appathonSendOtp(mobile_no.value)"
                    href="javasript:;"
                    >here</a
                  >
                  to resend
                </div>
              </div>
              <div class="col-md-4 mt4">
                <button
                  [disabled]="appathonSignupForm.value.otp_verified == 1"
                  type="button"
                  class="tryItFreeBtn sendOTPBtn mt25"
                  (click)="appathonSendOtp(mobile_no.value)"
                  style="margin-right: 0;"
                >
                  Send OTP
                </button>
                <button
                  type="button"
                  class="tryItFreeBtn changeMobileNumber mt25"
                  (click)="appathonSendOtp(mobile_no.value)"
                >
                  change
                </button>
              </div>
            </div>
            <!-- <ng-template #elseBlock> -->
            <div class="row mb20" *ngIf="showOtp">
              <div class="col-md-9 mb-xs-30">
                <div>
                  <label for="otp"
                    >Enter the OTP Received on your Phone Number</label
                  >
                </div>
                <input
                  [readonly]="appathonSignupForm.value.otp_verified == 1"
                  name="otp"
                  formControlName="otp_code"
                  class="input-login"
                  #OTP
                />
                <div
                  *ngIf="otp_code.invalid && (otp_code.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  OTP is required.
                </div>
                <div
                  *ngIf="ismobile_reg_check != ''"
                  class="text-danger form-error"
                >
                  {{ isotp_reg_check }}
                </div>
              </div>
            </div>
            <!-- </ng-template> -->
            <div class="clearfix"></div>
            <br />
            <ul class="nav nav-tabs nav-tabs1" role="tablist">
              <li>
                <button
                  class="btn"
                  (click)="appathonSave2()"
                  [disabled]="!appathonSignupForm2.valid"
                  [ngClass]="
                    appathonSignupForm2.valid ? 'btn-blue' : 'btn-white'
                  "
                  class="signInBtn verifyBtn"
                >
                  Verify
                </button>
              </li>
            </ul>
          </div>
        </form>
        <form [formGroup]="appathonSignupForm3" [hidden]="!shfrmSFThird1">
          <div class="tab-pane">
            <div class="row mb20">
              <div class="col-md-12">
                <div><label for="username">Username</label></div>
                <input
                  formControlName="username"
                  class="input-login"
                  #username
                  (change)="OnCheckUsername(username.value)"
                  autocomplete="new-password"
                />
                <div
                  *ngIf="username.invalid && (username.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  Username is required.
                </div>
              </div>
            </div>
            <div class="horizontalBorder mb20"></div>
            <div class="row">
              <div class="col-md-6">
                <div><label for="createpassword">Create Password</label></div>
                <input
                  type="password"
                  formControlName="password"
                  class="input-login"
                  #CreatePassword
                />
                <div
                  *ngIf="password.invalid && (password.dirty || isSubmitted)"
                  class="text-danger form-error"
                >
                  Password is required.
                </div>
              </div>
              <div class="col-md-6">
                <div><label for="confirmpassword">Confirm Password</label></div>
                <input
                  type="password"
                  formControlName="confirmPassword"
                  class="input-login"
                  #ConfirmPassword
                />
                <div
                  *ngIf="
                    confirmPassword.invalid &&
                    (confirmPassword.dirty || isSubmitted)
                  "
                  class="text-danger form-error"
                >
                  Password does not match.
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row" style="margin-top: 12px;">
              <div class="col-md-12">
                <label class="checkboxContainer">
                  <input
                    type="checkbox"
                    formControlName="term"
                    #term
                    required
                  /><span class="checkmark"></span>
                  <a
                    href="/assets/documents/termsAndConditionsFinal.pdf"
                    target="_blank"
                    >ACCEPT ALL TERMS & CONDITIONS</a
                  >
                  <div
                    *ngIf="term.invalid && (term.invalid || isSubmitted)"
                    class="text-danger form-error"
                  >
                    I ACCEPT ALL TERMS & CONDITIONS is required.
                  </div>
                </label>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="clearfix"></div>
            <br />
            <ul class="nav nav-tabs nav-tabs1" role="tablist">
              <li>
                <button
                  (click)="appathonSign_up()"
                  [disabled]="!appathonSignupForm3.valid"
                  [ngClass]="
                    appathonSignupForm3.valid ? 'btn-blue' : 'btn-white'
                  "
                  class="btn"
                  class="signInBtn verifyBtn"
                >
                  Submit
                </button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row w100p m0">
        <div class="col-12 pl0">
          <p>
            Already have an account? Please
            <span><a class="signIn" (click)="openModal(signin)">Login</a></span>
          </p>
        </div>
        <div class="col-5 pr0">
          <div class="text-right"></div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Modal for appathon Signup -->
  <app-footer></app-footer>
</div>
