<div class="tab-content" id="pills-tabContent" >
  <div class="tab-content">
     <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row m0">
          <div class="sideMenu" >
            <!----------------------------------------------------------------Side Nagvigation-------------------------------------------------------------->
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
               <!-- <div class="searchBar">
                  <input type="text" placeholder="Search API"><i class="material-icons">search</i>
               </div> -->
               <li class="nav-link active">
                  <a id="v-pills-home-tab" [routerLink]="['/admin/request']"  data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                     Pending Onboarding Requests
                  </a>
               </li>
               <!-- <li class="nav-link">
                <a id="v-pills-home-tab" [routerLink]="['/admin/approval']"  data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                  Approvals
                </a>
             </li> -->
             <li class="nav-link">
                  <a id="v-pills-home-tab" [routerLink]="['/admin/pendingreg']"  data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    Pending Registration
                  </a>
               </li>
           
         
            </ul>
            <!----------------------------------------------------------------Side Nagvigation-------------------------------------------------------------->
         </div>
        </div>
     </div>
  </div>
</div>