<div class="documentTabContent">
   <div class="tab-content" id="v-pills-tabContent">
   <!-- Loans and Cards -->
   <div >
       <div class="tabContentInner">
          <h4 class="mb10 fs24 color-black ff-medium">Loans And Cards</h4>
          <hr>
          <p class="fs14 color-gray ff-light mb30">APIs related to Credit Cards, Pre-paid cards and loan products facilitate the end to end seamless customer journey, of initiating customer request, customer onboarding journey and lifecycle management for the respective products. Create innovative solutions for customers leveraging the APIs for personal, car or housing and other loans. Some of the key offerings:  
          </p>
      <!--     <ul>
              <li class="fs14 color-gray ff-light ">Credit Cards API- A suite of APIs supporting the customer journey for credit card products from request, processing, payments, transactions and services.</li>
              <li class="fs14 color-gray ff-light ">Personal Loans APIs – A suite of APIs covering various stages of the lifecycle of personal loans from checking eligibility, request for loan, facilitate disbursement and view current status/dues.</li>
              <li class="fs14 color-gray ff-light ">Auto Loans APIs – A suite of APIs covering various stages of the lifecycle of automobile loans from checking eligibility, authorization/sanctioning, request for loan, facilitate disbursement and view current status/dues.</li>
              <li class="fs14 color-gray ff-light ">Housing Loans APIs – A suite of APIs covering various stages of the lifecycle of personal loans from checking eligibility, authorization/sanctioning, request for loan, to facilitate disbursement and view current status/dues.</li>
              <li class="fs14 color-gray ff-light ">Top-Up Loans API- A suite of APIs covering various stages of the lifecycle of top-up loans from checking eligibility, authorization/sanctioning, applying, to facilitate disbursement and view current status/dues.</li>
           </ul> -->
          <hr>
          <div class="row mb30 linksContainer">
             <div class="col-md-4">
                <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                   <div class="sectionAPICard">
                      <h4>Personal Loans APIs</h4>
                      <h5>Loans category</h5>
                      <p>A suite of APIs covering various stages of the lifecycle of personal loans from checking eligibility, applying, to facilitate disbursement and view current status/dues.</p>
                   </div>
                </a>
             </div>
             <div class="col-md-4">
                <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                   <div class="sectionAPICard">
                      <h4>Auto Loans APIs</h4>
                      <h5>Loans category</h5>
                      <p>A suite of APIs covering various stages of the lifecycle of automobile loans from checking eligibility, sanctioning, applying to facilitate disbursement and view current status/dues</p>
                   </div>
                </a>
             </div>
             <div class="col-md-4">
                <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                   <div class="sectionAPICard">
                      <h4>Loan Top-Up</h4>
                      <h5>Loans category</h5>
                      <p>Enabling innovative solution to enhance and ease the customer journey for top-up loans for mortagage and automobile loans, through a set of APIs supporting the end to end processes.</p>
                   </div>
                </a>
             </div>
          </div>
          <div class="row mb30 linksContainer">
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Loan Management</h4>
                    <h5>Loans category</h5>
                    <p>A set of APIs that support loans management for customers through statements , transaction details , payment schedules , payments , closure and other services.</p>
                 </div>
              </a>
           </div>
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Credit Cards</h4>
                    <h5>Loans category</h5>
                    <p>Credit Cards API support the end to end customer journey, from initiating the customer request for credit cards, available cards based on customer profile , enabling request processing , credit card creation and services to manage credit cards. </p>
                 </div>
              </a>
           </div>
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Prepaid Cards</h4>
                    <h5>Loans category</h5>
                    <p>Explore the products like - Expressions Gift Card - a perfect instant gift bundled with personalized messages for every occasion. PayDirect Card- The PayDirect Card is a magnetic-strip-based reloadable Prepaid Card that addresses the concerns of an enterprise for payment of salaries, reimbursements, commissions and incentives to its employees/associates. With the API Suite of Pre-Paid Cards, the customers can easily create and manage all the prepaid cards.</p>
                 </div>
              </a>
           </div>
        </div>
        <div class="row mb30 linksContainer">
           <div class="col-md-4">
              <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
                 <div class="sectionAPICard">
                    <h4>Paylater</h4>
                    <h5>Loans category</h5>
                    <p>PayLater is a digital credit product, similar to a Credit Card. With it you can make your purchases today and make payments within 45 days of the transaction date and no interest is charged. The API integration allows you to facilitate your customers with the PayLater product on your platform.</p>
                 </div>
              </a>
           </div>
        </div>
       </div>
 </div>
 <!-- Loans and Cards -->
       
</div>
</div>