<div class="documentTabContent">
   <div class="tab-content" id="v-pills-tabContent">
    <!-- Building Blocks Tab -->
  <div >
  <div class="tabContentInner">
     <h4 class="mb10 fs24 color-black ff-medium">Building Blocks</h4>
     <hr>
     <p class="fs14 color-gray ff-light mb30">The Building Blocks APIs are a set of common APIs which address ancillary requirements for integration to various processes. These set of APIs provide capabilities like retrieve credit rating scores, validation services to establish authenticity, eligibility checks, list of available Pre approved offers and multiple other common capabilities. These can be integrated with ease into your API sequence and be useful in the execution of the multiple business use case across various processes, products and solutions.</p>
     <hr>
     <div class="row mb30 linksContainer">
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>Pre approved offers</h4>
                 <h5>Building Blocks category</h5>
                 <p>ICICI Bank prepares various product oriented Pre approved offers for its existing customer in all the domains -Cards, Loans, Payments etc. These APIs allows you to directly access these Pre approved offers and present it to your customers without any hassle. We provide you each step wise integration to present these Pre approved offers to your customers and avail them without even visiting any branch, Relationship Manager or even our website.</p>
              </div>
           </a>
        </div>
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard" style="min-height: 289px;">
                 <h4>Customer Authentication</h4>
                 <h5>Building Blocks category</h5>
                 <p>Leverage these APIs for customer authentication based on mobile number or customer account etc.</p>
              </div>
           </a>
        </div>
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>New Customer Onboarding</h4>
                 <h5>Building Blocks category</h5>
                 <p>In day-to-day working, most of the times Businesses need to open bank accounts for either their customers or their employees, these APIs allow you to open a bank account for an individual without making them to visit any branch. With various modular products you can decide what facilities you want to provide to your customer, ranging from Face Scan APIs to Credit Card Ordering APIs.</p>
              </div>
           </a>
        </div>
     </div>
     <div class="row mb30 linksContainer">
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>Bureau Check</h4>
                 <h5>Building Blocks category</h5>
                 <p>This API is used to get the CIBIL Credit Score of the customer directly on basis of his basic Personal details and PAN number.</p>
              </div>
           </a>
        </div>
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>PAN Validation</h4>
                 <h5>Building Blocks category</h5>
                 <p>This API is used to provide geographical details of user on successful PAN validation.</p>
              </div>
           </a>
        </div>
        <div class="col-md-4">
           <a  class="nav-link p0" href="#v-pills-collect-from-VPA">
              <div class="sectionAPICard">
                 <h4>Eligibility Check</h4>
                 <h5>Building Blocks category</h5>
                 <p>This API is used to check loan eligibility of customer.</p>
              </div>
           </a>
        </div>
     </div>
  </div>
</div>
<!-- Building Block Tab -->
       
</div>
</div>