<footer>
    <div class="footerInner">
        <div class="row">
            <div class="col-md-2 footerLinks">
                <h4>Explore</h4>
                <a target="_blank" href="https://www.icicibank.com/aboutus/invest-relations.page?#toptitle">Investor Relations</a>
                <a target="_blank" href="https://www.icicibank.com/help/support-center.page?">ICICI Bank Answers</a>
                <a target="_blank" href="https://www.icicibank.com/card/credit-cards/credit-card.page?">Credit Card Internet Banking</a>
                <a target="_blank" href="https://www.icicibank.com/mobile-banking/index.page?">Mobile Banking</a>
                <a target="_blank" href="https://www.icicibank.com/online-safe-banking/index.page?">Safe Banking </a>
                <a target="_blank" href="https://money2india.icicibank.com/newm2iNet/">Money Transfer to India</a>
            </div>
            <div class="col-md-6 footerLinks">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Rates &amp; Charges</h4>
                        <h4>Other Links</h4>
                        <a target="_blank" href="https://www.icicibank.com/interest-rates.page?">Interest Rates</a>
                        <a target="_blank" href="https://infinity.icicibank.co.in/BANKAWAY?Action.Gold.NLI=Y">Gold Rate Today</a>
                        <a target="_blank" href="https://www.icicibank.com/service-charges/service-charges.page?">Services Charges and Fees</a>
                        <a target="_blank" href="https://www.icicibank.com/calculator/index.page?">Tools and Calculators</a>
                    </div>
                    <div class="col-md-4">
                        <a target="_blank" href="https://www.icicibank.com/customer-care.page?">Customer Care</a>
                        <a target="_blank" href="https://www.icicibank.com/media-gallery/media-gallery.page?">Media Gallery</a>
                        <a target="_blank" href="https://www.icicibank.com/form-center.page?">Form Center</a>
                        <a href="https://www.icicibank.com/notice-board.page?">Notice Board</a>
                        <a target="_blank" href="https://www.icicibank.com/feedback.page?">Compliments &amp;
                            Complaints</a>
                        <a target="_blank" href="https://www.icicibank.com/sitemap.page?tabname=personal">Sitemap</a>
                    </div>
                    <div class="col-md-4">
                        <h4>Initiatives</h4>
                        <a target="_blank" href="https://www.icicibank.com/csr/index.html">CSR</a>
                        <!-- <a target="_blank" href="">Go Green</a> -->
                        <a target="_blank" class="mb30" href="https://www.icicibank.com/Personal-Banking/debt-service/index.page?">Debt Services</a>
                        <h4>Awards</h4>
                        <a target="_blank"  href="https://www.icicibank.com/aboutus/awards.page?year=2018&type=Awards">2018</a>
                        <a target="_blank" href="https://www.icicibank.com/aboutus/awards.page?year=2017&type=Awards">2017</a>
                        <a target="_blank" href="https://www.icicibank.com/aboutus/awards.page?year=2016&type=Awards">2016</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 selectWebsites">
                <img class="mb50 mb-xs-20" src="images/icici-svg-1.svg" alt="">
                <p>Group Websites</p>
                <span class="custom-dropdown mb30">
                    <select>
                        <option>Select Website</option>
                        <option value="http://www.icicigroupcompanies.com/">ICICI Group</option>
                        <option value="http://www.icicifoundation.org/">ICICI Foundation</option>
                        <option value="https://www.icicilombard.com/">ICICI Lombard General Insurance</option>
                        <option value="http://www.icicisecurities.com/">ICICI Securities</option>
                        <option value="https://www.iciciprulife.com/"> ICICI Prudential Life Insurance</option>
                        <option value="http://www.icicipruamc.com/">ICICI Prudential AMC</option>
                        <option value="http://www.iciciventure.com/">ICICI Venture</option>
                        <option value="http://www.icicidirect.com/">ICICI Direct</option>
                        <option value="http://www.icicisecuritiespd.com/">ICICI Securities Primary Dealership Ltd</option>
                        <option value="http://www.dishafc.org/">DISHA Financial Counselling</option>
                        <option value="http://www.icicihfc.com/"> ICICI Home Finance</option>
                        <option value="http://www.icicihomesearch.com/">ICICI Home Search</option>
                        <option value="http://www.icicibank.com/ebor/index.html">Erstwhile The Bank of Rajasthan </option>
                        <option value="https://www.icicicareers.com/Website/default.aspx">Careers</option>
                    </select>
                </span>
                <p>Country Websites</p>
                <span class="custom-dropdown">
                    <select>
                        <option>Select Country</option>
                        <option value="http://www.icicibank.bh/">Bahrain</option>
                        <option value="http://www.icicibank.ca/">Canada</option>
                        <option value="http://www.money2india.eu/">Europe</option>
                        <option value="http://www.icicibank.de/">Germany</option>
                        <option value="http://www.icicibank.hk/">HongKong</option>
                        <option value="http://www.icicibank.com.sg/">Singapore</option>
                        <option value="http://www.icicibank.lk/"> Sri Lanka</option>
                        <option value="https://www.icicibank.co.uk/">UK</option>
                        <option value="http://www.icicibankusa.com/">US</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
    <div class="footerCopyright">
        <p>Copyright 2019 ICICI Bank Ltd. All rights reserved.</p>
    </div>
</footer>