<ng-template #forgotpassw>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Forgot Password</h3>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef3.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb30">
      <div class="col-md-12 mb-xs-10">
        <div><label for="user">Username/Email</label></div>
        <input name="user" class="input-login" #username />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row w100p m0">
      <div class="col-12 plr0 mb30">
        <div>
          <button
            type="submit"
            class="signInBtn w100p"
            (click)="forgot(username.value)"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
