

.alignTop{
    margin-top: 14px;
}

.blueBtn {
    background: #285bae;
    color: #ffffff !important;
}

.pinkBtn {
    background: #e492e4;
    color: #ffffff !important;
}

.orangeBtn {
    background: #e66c09;
    color: #ffffff !important;
}

.avoid_clicks {
    pointer-events: none !important;
  }
  