<app-header></app-header>
<app-sidebar></app-sidebar>
<toaster-container></toaster-container>
<div class="documentTabContent">
   <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">dashboard</div>
      <div class="tab-pane fade active show" id="v-pills-applications" role="tabpanel" aria-labelledby="v-pills-applications-tab">
         <!-- <div class="searchBar">
            <input type="text" placeholder="">
            <i class="material-icons">search</i>
         </div> -->
         <div class="tabContentInner">
            <div class="row">
               <div class="col-md-6">
                  <h4 class="color-black30 fs24 ff-semibold mb10">Applications</h4>
                  <p class="color-gray fs12 ff-light mb20">Quota usage across all applications</p>
               </div>
               <div class="col-md-6 text-right">
                     <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search" style="width:250px;float: right;margin-top: 6px;">
               </div>
               <!-- <div class="col-md-3 text-right">
                  <div class="applicationsRow">
                     <a class="editIcon"><i class="material-icons" style="color: #303030;" >edit</i></a>
                     <a class="deleteIcon"><i class="material-icons">delete</i></a>
                     <label class="switch">
                     <input type="checkbox" checked="">
                     <span class="slider round"></span>
                     </label>
                  </div>
                  <a class="signInBtn mr10">apply</a>
               </div> -->
            </div>
            <table class="table tableApplications">
               <thead>
                  <tr>
                     <!-- <td>
                        <label class="checkboxContainer">
                        <input type="checkbox" id="selectAll">
                        <span class="checkmark"></span>
                        </label>
                     </td> -->
                     <td>Application</td>
                     <td>API Key</td>
                     <td>Status</td>
                     <td>Platform</td>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let data of appList |filter:searchText |filter:filter | paginate: { itemsPerPage: 5, currentPage: p }">
                     <!-- <td>
                        <label class="checkboxContainer">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        </label>
                     </td> -->
                     <td>
                        <h5>{{data.title}}</h5>
                     </td>
                     <td>
                        <p>{{data.app_key}}</p>
                     </td>
                     <td>
                        <p>{{data.status}}</p>
                     </td>
                     <!-- <td>
                        <input type="hidden" value="{{data.app_id}}">
                         
                     </td> -->
                     <td>
                        {{data.platform}}
                        <div class="editTableRow">
                           <a class="editIcon cursor" (click)="openModaledit(editapplication,data.app_id)"><i class="material-icons">edit</i></a>
                           <a class="deleteIcon cursor" (click)="DeleteApplist(data.app_id)"><i class="material-icons">delete</i></a>
                           <label class="switch">
                           <!-- <input type="checkbox" checked="">
                           <span class="slider round"></span> -->
                           </label>
                        </div>
                     </td>
                  </tr>
                 
               </tbody>
            </table>
            <div class="clearfix"></div>
            
            <ul class="pagination" >  
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>  
              </ul>
            <div class="signInBtn addApplicationBtn" (click)="openModal(addAnApplication)" >
               <i class="material-icons fs30"> add</i>
            </div>
         </div>
      </div>

      <div class="tab-pane fade" id="v-pills-analytics" role="tabpanel" aria-labelledby="v-pills-analytics-tab">analytics</div>
      
     </div>
     <!-- <div class="copyrightSection">
         <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
     </div> -->
</div>

<!-- Modal for Add Application button -->
<ng-template #addAnApplication >
     <div class="modal-header">
        <h3>Untitled Application</h3>
        <span id="editHeader"><i class="material-icons">edit</i></span>
        <i  class="material-icons close" aria-label="Close" (click)="modalRef.hide()">close</i>
     </div>
     <div class="modal-body">
           <ul class="nav nav-tabs nav-tabs1" role="tablist">
              <li role="presentation" class="active">
                 <a (click)="signup_link(1)"  [ngStyle]="{'color': shfrmSFFirst ? '#f06321' : '#919191'}" href="#AppInfo" aria-controls="AppInfo" role="tab" data-toggle="tab">App Information<i
                       class="fa fa-angle-right" style="margin-left: 10px;"></i>
                     </a>
                     </li>   
              <li role="presentation">
                 <a (click)="signup_link(2)" [ngStyle]="{'color': shfrmSFSecond ? '#f06321' : '#919191'}" href="#ApiManage" aria-controls="ApiManage" role="tab" data-toggle="tab">API Management<i
                 class="fa fa-angle-right" style="margin-left: 10px;"></i></a>
               </li>
              <li role="presentation">
                 <a (click)="signup_link(3)" [ngStyle]="{'color': shfrmSFThird ? '#f06321' : '#919191'}" href="#Auth" aria-controls="Auth" role="tab" data-toggle="tab">Authentication</a>
               </li>
           </ul>

           <!-- tab start here -->
           <div class="tab-content tab-content1">
            <div role="tabpanel" class="tab-pane active" id="AppInfo">
               <form [hidden]="!shfrmSFFirst" [formGroup]="ApiInfoForm" novalidate>
                  <div class="row mb30">
                     <div class="col-md-12" style="margin-bottom: 10px;">
                        <div class="mt15"><label for="password">User platform to be tested</label></div>
                     </div>
                     <div class="col-md-12">
                        <div class="row">
                           <div class="col-md-4" *ngFor="let data of applicationdata">  
                              <div class="radioButtonGroup" >
                                    <label class="radio-inline">
                                       <input type="radio" name="radio-group" id="{{data.platform_id}}"  value="{{data.platform_id}}" (change)="onradiotab1(data.platform_id)" [checked]="data.selected"> {{data.platform_name}}
                                    </label> 
                              </div>
                           </div>
                           <!-- <div *ngIf="platform_name.invalid && (platform_name.dirty || isSubmitted)" class="text-danger form-error">
                              Please select Platform
                           </div> -->
                        </div>
                     </div>
                  </div>
                  <div class="row mb30">
                     <div class="col-md-12 mb-xs-30">
                        <div><label for="description">App Name</label></div> 
                        <input type='text' class="input-login" formControlName="app_name" placeholder="Type here …" #AppName>
                        <div *ngIf="AppName.invalid && (app_name.dirty || isSubmitted)" class="text-danger form-error">
                              Application Name is required.
                        </div>
                     </div>  
                  </div>
                  
                  <div class="row">
                     <div class="col-md-12 mb-xs-30">
                        <div><label for="description">Description</label></div>
                        <!-- <textarea class="input-login" formControlName="description" placeholder="Type here …" name="description"></textarea> -->
                        <textarea class="input-login" formControlName="description" placeholder="not require for virtual testing" #descdata></textarea>
                        <div *ngIf="descdata.invalid && (descdata.dirty || isSubmitted)" class="text-danger form-error">
                              Description is required.
                        </div>
                     </div>  
                  </div>
                  <div class="clearfix"></div>
                  <br>
                  <ul class="nav nav-tabs nav-tabs1" role="tablist">
                     <!-- <li ><button type=submit (click)="saveInfo(description.value,AppName.value)"  [disabled]="!ApiInfoForm.valid"  [ngClass]="ApiInfoForm.valid ? 'btn-blue':'btn-white'"  class ='btn'  href="#ApiManage" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li> -->
                     <li><button type=submit (click)="savetab1()" [disabled]="!ApiInfoForm.valid"  [ngClass]="ApiInfoForm.valid ? 'btn-blue':'btn-white'"   class ='btn'  href="#ApiManage" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li>
                  </ul>
               </form>
            </div><!-- tab 1 end -->
              <div role="tabpanel" class="tab-pane" id="ApiManage">
                 <form [hidden]="!shfrmSFSecond" [formGroup]="ApiManageForm" novalidate>
                       <div class="row mb25">
                          <div class="col-md-12 mb-xs-10">

                             <ng-multiselect-dropdown #multiSelect 
                              
                                [placeholder]="'Select'" 
                                [data]="data" 
                                [settings]="settings"
                                [disabled]="false"
                                (onFilterChange)="onFilterChange($event)"
                                (onDropDownClose)="onDropDownClose($event)"
                                (onSelect)="onItemSelect($event)" 
                                (onDeSelect)="onDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)">
                                </ng-multiselect-dropdown>
                                <!-- <div *ngIf="apis.invalid && (apis.dirty || isSubmitted)" class="text-danger form-error">
                                      Please Select Apis. 
                                </div> -->
                             </div>
                       </div>
                       <div class="disclaimer termsandConditons mb15">
                          <h4>Terms & Conditions</h4>
                          <p>ICICI Developer Portal is a virtual application development programme that aims to attract developers, technology companies, start-ups, freelance technology enthusiasts to create the next generation of banking applications on mobile platform.
                        </p>
                        <p> ICICI Developer Portal will offer the most diverse set of banking and financial services application program interface ("API") from ICICI Bank . Using the APIs, Integrators will be able to create innovative working prototypes of applications that provides a superior customer experience.</p>
                       </div>
                       <div class="row mb25">
                          <div class="col-12 text-right">
                             <button type="button" class="tryItFreeBtn" id="addApiListBtnModal">I ACCEPT ALL TERMS & CONDITIONS</button>
                          </div>
                       </div>
                       <div class="horizontalBorder mb25"></div>
                       <div class="row mb25">
                          <div class="col-12" id="apiListContainerModal">
                             <div><label for="apiList">API List</label></div>
                          </div>
                       </div> 
                    <div class="clearfix"></div>
                    <br>
                    <ul class="nav nav-tabs nav-tabs1" role="tablist">
                       <!-- <li ><button (click)="saveTab2(multiSelect.selectedItems)" [disabled]="!ApiManageForm.valid"  [ngClass]="ApiManageForm.valid ? 'btn-blue':'btn-white'"   class ='btn'  href="#Auth" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li> -->
                        <li ><button (click)="saveTab2()" [disabled]="(apis.length == 0)"  [ngClass]="(apis.length == 0) ? 'btn-blue':'btn-white'"   class ='btn'  href="#Auth" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li>
                     </ul>
                 </form>
              </div><!-- tab 2 end -->
              <div role="tabpanel" class="tab-pane" id="Auth">
               <form [hidden]="!shfrmSFThird"  [formGroup]="AuthForm" novalidate>
                     <div class="row mb25">
                           <div class="col-md-12">
                              <div><label for="callbackURL">Call Back URL</label></div>
                              <input formControlName="call_back_url" placeholder="not require for virtual testing" class="input-login" #call_back_url>
                                <!-- <div *ngIf="call_back_url.invalid && (call_back_url.dirty || isSubmitted)" class="text-danger form-error">
                                  Call Back URL is required. 
                                </div> -->
                           </div>
                        </div>
                        <div class="row mb25">
                           <div class="col-md-2">
                              <div style="margin-top: 6px;"><label for="password">Default </label></div>
                           </div>
                           <div class="col-md-10">
                              <div class="row">
                                 <div class="col-md-5" *ngFor="let data of authType">
                                       <div class="radioButtonGroup" >
                                             <label class="radio-inline">
                                                <input type="radio"  name="radio-group1" id="{{data.id}}" value="{{data.id}}" #auth_types (change)="onradiotab3(data.id)"> {{data.name}}
                                             </label> 
                                       </div>
                                    </div>
                                    <!-- <div *ngIf="auth_type.invalid && (auth_type.dirty || isSubmitted)" class="text-danger form-error">
                                       auth_type is required. 
                                    </div> -->
                              </div>
                           </div>
                        </div>
                        <div class="row mb25">
                           <div class="col-md-12">
                              <div><label for="scope">Scope</label></div>
                              <textarea placeholder="not require for virtual testing" formControlName="scope" name="scope" class="input-login" #scope></textarea>
                              <div *ngIf="scope.invalid && (scope.dirty || isSubmitted)" class="text-danger form-error">
                                 Scope is required. 
                              </div>
                           </div>
                        </div>
                     <div class="clearfix"></div>
                     <br>
                     <ul class="nav nav-tabs nav-tabs1" role="tablist">
                         <!-- <li ><button (click)="saveAddAppl(call_back_url.value,scope.value)"  class="signInBtn verifyBtn" > Save</button></li> -->
                         <li ><button (click)="saveAddAppl()" [disabled]="!AuthForm.valid"  [ngClass]="AuthForm.valid ? 'btn-blue':'btn-white'" class="signInBtn verifyBtn" > Save</button></li>
                        <!-- <li ><button (click)="save1()" [disabled]="!signupForm.valid"  [ngClass]="signupForm.valid ? 'btn-blue':'btn-white'"   class ='btn'  href="#Auth" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li> -->
                     </ul>
               </form>
            </div><!-- tab 3 end -->
           </div>   
           <!-- tab end here --> 
     </div>
</ng-template>
<!-- End Modal of add application -->

 <!-- Modal for changepassw  -->
 <ng-template #editapplication>
   <div class="modal-header">
      <h3>Edit Application</h3>
      <span id="editHeader"><i class="material-icons">edit</i></span>
      <i  class="material-icons close" aria-label="Close" (click)="modalRef1.hide()">close</i>
   </div>
   <div class="modal-body">
         <ul class="nav nav-tabs nav-tabs1" role="tablist">
            <li role="presentation" class="active">
               <a [ngStyle]="{'color': shfrmSFFirst ? '#f06321' : '#919191'}" href="javascript:;" (click)="signup_link(1)" href="#AppInfo" aria-controls="AppInfo" role="tab" data-toggle="tab">App Information<i
                     class="fa fa-angle-right" style="margin-left: 10px;"></i></a>
            </li>   
            <li role="presentation">
               <a [ngStyle]="{'color': shfrmSFSecond ? '#f06321' :' #919191'}" href="javascript:;" (click)="signup_link(2)" href="#ApiManage" aria-controls="ApiManage" role="tab" data-toggle="tab">API Management<i
               class="fa fa-angle-right" style="margin-left: 10px;"></i></a>
            </li>
            <li role="presentation">
               <a [ngStyle]="{'color': shfrmSFThird ? '#f06321' : '#919191'}" href="javascript:;" (click)="signup_link(3)" href="#Auth" aria-controls="Auth" role="tab" data-toggle="tab">Authentication</a>
            </li>
         </ul>

         <!-- tab start here -->
         <div class="tab-content tab-content1">
          <div role="tabpanel" class="tab-pane active" id="AppInfo">
             <form [formGroup]="ApiInfoForm" [hidden]="!shfrmSFFirst" novalidate>
                <div class="row mb30">
                   <div class="col-md-12" style="margin-bottom: 10px;">
                      <div class="mt15"><label for="password">User platform to be tested</label></div>
                   </div>
                   <div class="col-md-12">
                      <div class="row">
                         <div class="col-md-4" *ngFor="let data of applicationdata1">  
                            <div class="radioButtonGroup" >
                                  <label class="radio-inline">
                                     <input type="radio" name="radio-group" [checked]="data.selected" id="{{data.platform_id}}"  value="{{data.platform_id}}" (change)="onradiotab1(data.platform_id)" > {{data.platform_name}}
                                  </label> 
                            </div>
                         </div>
                         <!-- <div *ngIf="platform_name.invalid && (platform_name.dirty || isSubmitted)" class="text-danger form-error">
                            Please select Platform
                         </div> -->
                      </div>
                   </div>
                </div>
                <div class="row mb30">
                   <div class="col-md-12 mb-xs-30">
                      <div><label for="description">App Name</label></div> 
                      <input type='text' class="input-login" formControlName="app_name"  #AppName value="{{title1}}">
                      <div *ngIf="app_name.invalid && (app_name.dirty || isSubmitted)" class="text-danger form-error">
                            Application Name is required.
                      </div>
                   </div>`  
                </div>

                <div class="row mb30">
                   <div class="col-md-12 mb-xs-30">
                      <div><label for="description">Description</label></div>
                      <!-- <textarea class="input-login" formControlName="description" placeholder="Type here …" name="description"></textarea> -->
                      <textarea class="input-login" formControlName="description" placeholder="not require for virtual testing" #dddata value="{{description1}}" ></textarea>
                      <div *ngIf="dddata.invalid && (dddata.dirty || isSubmitted)" class="text-danger form-error">
                            Description is required.
                      </div>
                   </div>  
                </div>
                <div class="clearfix"></div>
                <br>
                <ul class="nav nav-tabs nav-tabs1" role="tablist">
                   <!-- <li ><button type=submit (click)="saveInfo(description.value,AppName.value)"  [disabled]="!ApiInfoForm.valid"  [ngClass]="ApiInfoForm.valid ? 'btn-blue':'btn-white'"  class ='btn'  href="#ApiManage" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li> -->
                   <li><button type=submit (click)="savetab1()"  class ='btn'  href="#ApiManage" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li>
                </ul>
             </form>
          </div><!-- tab 1 end -->
            <div role="tabpanel" class="tab-pane" id="ApiManage" z="z">
               <form [hidden]="!shfrmSFSecond" [formGroup]="ApiManageForm" novalidate>
                     <div class="row mb25">
                        <div class="col-md-12 mb-xs-10">
                           <ng-multiselect-dropdown #multiSelect 
                        
                              [placeholder]="Select" 
                              [data]="data1"  
                              [settings]="settings"
                            [formControl]="ApiManageForm.controls['name']" 
                              (onFilterChange)="onFilterChange($event)"
                              (onDropDownClose)="onDropDownClose($event)"
                              (onSelect)="onItemSelect($event)" 
                              (onDeSelect)="onDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
                              </ng-multiselect-dropdown>
                              <!-- <div *ngIf="apis.invalid && (apis.dirty || isSubmitted)" class="text-danger form-error">
                                    Please Select Apis. 
                              </div> -->
                           </div>
                     </div>
                     <div class="disclaimer termsandConditons mb15">
                        <h4>Terms & Conditions</h4>
                        <p>ICICI Developer Portal is a virtual application development programme that aims to attract developers, technology companies, start-ups, freelance technology enthusiasts to create the next generation of banking applications on mobile platform.
                        </p>
                        <p> ICICI Developer Portal will offer the most diverse set of banking and financial services application program interface ("API") from ICICI Bank . Using the APIs, Integrators will be able to create innovative working prototypes of applications that provides a superior customer experience.</p>
                     </div>
                     <div class="row mb25">
                        <div class="col-12 text-right">
                           <button type="button" class="tryItFreeBtn" id="addApiListBtnModal">I ACCEPT ALL TERMS & CONDITIONS</button>
                        </div>
                     </div>
                     <div class="horizontalBorder"></div>
                     <div class="row">
                        <div class="col-12" id="apiListContainerModal">
                           <div style="margin-top: 14px; font-size: 16px; font-weight: 600;"><label for="apiList">Selected API List</label></div>
                           <div  style="overflow-y: scroll;height: 60px;"><label *ngFor="let data of listselected">{{data.name}} &nbsp;,  </label></div>
                        </div>
                     </div> 
                  <div class="clearfix"></div>
                 
                  <ul class="nav nav-tabs nav-tabs1" role="tablist">
                     <!-- <li ><button (click)="saveTab2(multiSelect.selectedItems)" [disabled]="!ApiManageForm.valid"  [ngClass]="ApiManageForm.valid ? 'btn-blue':'btn-white'"   class ='btn'  href="#Auth" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li> -->
                      <li ><button (click)="saveTab2( )"  class ='btn'  href="#Auth" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li>
                   </ul>
               </form>
            </div><!-- tab 2 end -->
            <div role="tabpanel" class="tab-pane" id="Auth">
             <form [hidden]="!shfrmSFThird" [formGroup]="AuthForm" novalidate>
                   <div class="row mb25">
                         <div class="col-md-12">
                            <div><label for="callbackURL">Call Back URL</label></div>
                            <input formControlName="call_back_url" placeholder="not require for virtual testing" class="input-login" #call_back_url value="{{call_back_url1}}">
                              <div *ngIf="call_back_url.invalid && (call_back_url.dirty || isSubmitted)" class="text-danger form-error">
                                Call Back URL is required. 
                              </div>
                         </div>
                      </div>
                      <div class="row mb25">
                         <div class="col-md-2">
                            <div style="margin-top: 6px;"><label for="password">Default</label></div>
                         </div>
                         <div class="col-md-10">
                            <div class="row">
                            
                               <div class="col-md-5" *ngFor="let datas of authType1">
                                     <div class="radioButtonGroup" >
                                           <label class="radio-inline">
                                              <input type="radio"  name="radio-group1" id="{{datas.id}}" value="{{datas.id}}" #auth_types (change)="onradiotab3(datas.id)" [checked]="datas.selected"> {{datas.name}}
                                           </label> 
                                     </div>
                                  </div>
                                  <!-- <div *ngIf="auth_type.invalid && (auth_type.dirty || isSubmitted)" class="text-danger form-error">
                                     auth_type is required. 
                                  </div> -->
                            </div>
                         </div>
                      </div>
                      <div class="row mb25">
                         <div class="col-md-12">
                            <div><label for="scope">Scope</label></div>
                            <textarea placeholder="not require for virtual testing" formControlName="scope" name="scope" class="input-login" #scope value="{{scope1}}"></textarea>
                            <div *ngIf="scope.invalid && (scope.dirty || isSubmitted)" class="text-danger form-error">
                               Scope is required. 
                            </div>
                         </div>
                      </div>
                   <div class="clearfix"></div>
                   <br>
                   <ul class="nav nav-tabs nav-tabs1" role="tablist">
                       <!-- <li ><button (click)="saveAddAppl(call_back_url.value,scope.value)"  class="signInBtn verifyBtn" > Save</button></li> -->
                       <li ><button (click)="saveAddAppl_Edit(call_back_url.value,scope.value)"  class="signInBtn verifyBtn" > Save</button></li>
                      <!-- <li ><button (click)="save1()" [disabled]="!signupForm.valid"  [ngClass]="signupForm.valid ? 'btn-blue':'btn-white'"   class ='btn'  href="#Auth" aria-controls="ApiManage" role="tab" data-toggle="tab" class="signInBtn verifyBtn" > Next</button></li> -->
                   </ul>
             </form>
          </div><!-- tab 3 end -->
         </div>   
         <!-- tab end here --> 
   </div>
</ng-template>